[2014-11-02 19:31] DmB opened #2 "Onload in JS9.Load for fits files"
Is there any way to run JS9.SetColormap or JS9.SetPan after loading of an image to display automatically?
I tried a number of different ways e.g. this function:
$(document).ready(function(){
        JS9.Load("./trans_ref/RBPLJ2016+1632_2456869.47587.fits", {display: "ref1", onload: function(){JS9.SetColormap("cool",{display: "ref1"});}});
    });
it doesn't work.

[2014-11-04 01:39] #2 closed, assigned to nobody

[2015-08-28 13:42] gijzelaerr opened #4 "cfitsio.js: bad first element number        "
Hi! Thanks for making js9! This is exactly the tool I was looking for.

I have a problem with a custom fits file. When I upload or drop this fits file:

http://rodrigues.meqtrees.net/media//1-_yayskwg/output/results-dirty.fits

here:

http://js9.si.edu/

I get:

 cfitsio.js: bad first element number

Let me know if I can do something to get more debugging info.

[2015-08-28 14:17] ericmandel commented on #4
This looks like a bug in how I handle images with NAXIS > 2. Your file has NAXIS == 4, with the dims of the last two axes == 1 and I must not be setting those "extra" axes properly ... somewhere. It's also broken in regcnts. I'll try to fix it in the next day or two ...

[2015-08-28 16:14] ericmandel commented on #4
OK, this bug is fixed and updated, in both github repositories (regcnts and js9) and at http://js9.si.edu/
Please try another drag and drop ....

[2015-08-29 08:43] gijzelaerr commented on #4
yes it is fixed! Thanks!

[2015-08-29 08:43] #4 closed

[2015-09-07 08:31] briehanlombaard opened #5 "JS9 ERROR: data missing from JS9 FITS object{}"
Hi Eric,

After upgrading from v1.1 to v1.5 I get this error during a "RefreshImage" call. I'm not sure why this is happening but I noticed when I comment out [this line](https://github.com/ericmandel/js9/blob/06e334ef5b37bdc92f968ea7c8a4f2641580ee95/js9.js#L10889) it still works and the error goes away.

[2015-09-07 08:37] briehanlombaard opened #6 "JS9 ERROR: image too large for zscale"
Hi Eric,

Another issue I ran into while upgrading from v1.1 to v1.5 is that I get this error when using the "set limits to zscale" in the scaling menu even on very tiny images (1x1 for example). It's possible that I'm doing something wrong but maybe this is a bug?

Let me know if you need any more info from my side.

[2015-09-07 14:31] ericmandel commented on #5
Hi Briehan,

By inspection, I can see that the blob handler is wrong. The line you commented out should be (and now is) in an 'else' statement:

[code]
The bug fix has been updated to GitHub but your hack will work for your purposes.

[2015-09-07 14:46] briehanlombaard commented on #5
Thank Eric, that was quick :)

[2015-09-07 14:46] #5 closed

[2015-09-07 16:07] ericmandel commented on #6
This is too weird: the emscripten Module object (some of whose methods are accessed in zscale) is no longer available to the JS9 code. And now I don't see why it ever should have been available, so zscale should never had worked as implemented. Give me a few days to unravel this curious situation -- there's no problem with the algorithm, only with my understanding of emscripten.

[2015-09-07 16:50] ericmandel commented on #6
Well ... I still don't know why zscale ever worked, because some needed emscripten methods were not properly exposed to JS9. They are now, and the fix is pushed to GitHub, if you want to try it out.

[2015-09-08 11:57] briehanlombaard commented on #6
Thanks for looking into this Eric.

I've tried with the updated code, but I'm still running into some issues. The problem seems to be the fact that I'm including fitsy.js.

When I include it the min and max values are always set to zero. When I remove it the scaling works fine on some test images that I'm using, but then it doesn't seem to be able to render the images I send across a web socket. I

[2015-09-08 12:16] ericmandel commented on #6
zscale: when I include fitsy.js, I see non-zero min and max values both before and after zscale. Can you send me an FITS file that does not work? I'm loading these js files in my debug web page:

[code]

render: I'll look into this using the files I have at hand, but I might need one of your files for this problem as well.

[2015-09-08 16:27] ericmandel commented on #6
Thanks to your test file, I found a bug in the JS9 wrapper around cfitsio: it was choosing the wrong data type for the image array when handling bscale/bzero data. This is now fixed and has been uploaded into GitHub.  It's been tested with RefreshImage(), drag&drop, and URL load. You can see the fix by going to http://js9.si.edu and dropping your test file onto the display. (You might have to shif

[2015-09-08 16:29] ericmandel commented on #6
We still have to deal with zscale, but since it works on my data sets, I'll wait for you to check things out with the above new code.

[2015-09-14 11:20] ericmandel commented on #6
Fixed by fixing a CFITSIO memory leak.

[2015-09-14 11:20] #6 closed

[2015-09-29 09:33] gijzelaerr opened #7 "mouse over tooltip for overlay objects"
Hi!

maybe this is already possible and I have not found this, but it would be very useful if it was possible to be able to add have mouse over/hover tooltip for overlay objects. That we a user can see more info (like source ID) if you move the mouse over the overlay. Maybe even clickable to move to a an other page related to the source.

[2015-09-29 11:36] gijzelaerr opened #8 "can't get overlay to work"
I'm trying to overlay some circles over the image following the documentation but nothing happens (also no error or warning). Am I missing something:
[code]
i type this in the developer console of google chome while I'm on the JS9 website, which should just work as far as I know.

[2015-09-29 11:43] gijzelaerr commented on #8
sorry, never mind, got it to work. the pixel coordinates of 100,100 are outside the field of view by default.

[2015-09-29 11:43] #8 closed

[2015-09-29 14:47] ericmandel commented on #7
@gijzelaerr I'd be happy to work with you on adding this functionality. We have events turned off in JS9.Catalogs.opts by default ... mainly because we didn't quite know what was wanted. You can turn it on by setting these options before creating the layer:
[code]
Then if you load add objects to a layer, you can double-click on them and the region dialog box come up with region info ... but not th

[2015-09-29 15:39] gijzelaerr commented on #7
Hi Eric!

I'm integrating JS9 in the webinteface (banana) of our transient detection pipeline (TraP).

https://github.com/transientskp/banana

In banana we visualize a big list of found point sources in an overlay of the image using DS9. Each of the source has a unique ID and also a unique page containing more information about the source.  Without a tooltip or to make the circle clickable it gets

[2015-09-29 19:53] ericmandel commented on #7
That's a really nice app, so let's try to make it better. What I think you need is:

1. ability to specify a callback when you hover over a shape, the callback returning JS9 shape data and whatever catalog data you passed to JS9 so that you can bring up a tooltip with whatever you want in it.

2. ability to specify a callback for ... double-click looks good for your purpose, so that you can retrie

[2015-09-30 08:26] gijzelaerr commented on #7
Eric thanks for your answer and willingness to improve this! JS9 is really one of the tools I was looking for for a long time.

Maybe also the highcharts API can be of inspiration for us.

http://api.highcharts.com/highcharts

Basically you can supply a small peace of javascript/html what will render inside a div rendered next to the mouse when you hover over a object of interest.

[2015-09-30 13:00] ericmandel commented on #7
Hi Gijs,

highcharts looks really nice (the plotting supports error bars, which is unusual), but unfortunately, JS9 is being developed by NASA/Smithsonian Institution so highcharts will not be free for us. But  you might be able to use it for your particular app inside a JS9-supplied callback.

[2015-09-30 13:03] gijzelaerr commented on #7
Hi Eric,

I was not suggesting to use highcharts, just get inspired by how they
enable the developer to create a custom mouseover tooltip.

2015-09-30 15:00 GMT+02:00 Eric Mandel <notifications@github.com>:

--
Gijs Molenaar
http://pythonic.nl

[2015-09-30 13:31] ericmandel commented on #7
Oh, now I understand, thanks. But I do wish we had the chance to use that module, it looks very nice.

[2015-11-12 19:45] ericmandel commented on #7
@gijzelaerr I have implemented a first offering of tooltips and event handlers for shape layers. The code has been uploaded into the JS9 repository. You can view a demo [here](http://js9.si.edu/js9/js9cat.html).

There are two levels of support:

At a primitive level, you can specify onmouse[up,down,move,over,out] callbacks via properties in the JS9.NewShapeLayer() opts object, allowing you to do

[2015-11-13 09:28] gijzelaerr commented on #7
Thanks Erik! Great work. I will have a look.

[2015-11-13 16:18] ericmandel commented on #7
@gijzelaerr   Hi Gijs, and while you are doing that, I am looking into the possibility of defining a callback for when you select a group of objects, which, when fired, would get passed an array of xreg objects to process. Akin to what glue does in Python, but much simpler.

Also, I just fixed js9.css, so if you already cloned the new stuff, you should update. The tooltip was not properly hidden o

[2015-11-13 22:30] ericmandel commented on #7
@gijzelaerr Hi Gijs, I implemented support for an ongroupcreate event callback, which fires when you use the mouse to create a temporary group of shapes (using the Mac cmd key or Linux ctl key). The callback is like the single-shape callbacks above, but returns an array of xreg shapes instead of a single one. This ought to open up a lot of doors for you to process objects ...

New code has been co

[2015-11-19 12:12] michaelwille opened #9 "Dynamic resizing of existing JS9 displays"
Hi Eric,

I would like to request a new public API function, e.g. JS9.SetSize(width, height), which allows the user to change the size of an already existing JS9 display dynamically. If there are multiple displays and hence multiple divs, the display in question could, e.g., be specified via the {display: [div_id]} object, similar to other functions of the public API.

I came across this problem w

[2015-11-19 17:52] ericmandel commented on #9
Hi Michael,

This is a really good idea and I will work on it in December. I hope implementation will basically be a book-keeping problem: changing canvas dimensions on all of the canvases associated with a display (catalogs, regions, main display for all images) and making sure the canvas-based 2D graphics get updated properly.

Which brings up the question: when you change the size of the displa

[2015-11-23 13:15] gijzelaerr commented on #7
eric this is perfect! thanks for implementing this. We will integrate it in our application and see if we run into problems/bugs.

[2015-11-23 13:15] #7 closed

[2015-11-23 13:59] gijzelaerr opened #10 "getting Uncaught TypeError: Cannot read property 'width' of undefined JS9 when embedding in Ipython notebook"
We are a bit further in getting the JS9 code into an Ipython notebook, but we run into problems running the following notebook:

https://nbviewer.jupyter.org/gist/bollwyvl/1259dd3bb7cef8988e92

We get an alert with the message 'could not read JS9 data', and in the js console we have:

`Uncaught TypeError: Cannot read property 'width' of undefined (js9.js:1373)`

[2015-11-23 15:02] michaelwille commented on #9
Hi Eric,

thank you for taking care of this issue so quickly. I could imagine that the book-keeping problem will cause quite some work as there can be many elements in a display.

Right now I don't see a problem if the original always used the upper left of the new canvas as a point of reference, independent of how the resize was performed but maybe there is something I missed.
From what I have se

[2015-11-23 15:21] ericmandel commented on #10
I think you are violating the Web's same-origin policy -- you can't load an image from a Web server different from the Web server from which you loaded the JavaScript that processes the image. You need special techniques for that. JS9 implements a proxy load capabilityt, you need a server that can do the proxy load -- we don't have that (yet) in the Jupyter implementation.

So for right now, don't

[2015-11-23 15:34] ericmandel commented on #10
You have:

            js9: "//js9.si.edu/js9/js9",
            js9support: "//js9.si.edu/js9/js9support.min",
            js9plugins: "//js9.si.edu/js9/js9plugins"

Is this the order in which these files will be loaded? If so, js9support has to come before js9.

[2015-11-24 09:42] gijzelaerr commented on #10
I think the `shim` section defines a dependency graph which will determine the loading order.

I think `js9support` is loaded, then `js9plugins` followed by `js9`.

Did you try loading the Jupyter notebook yourself, or are you using the online version? The online version is not working properly, you need to load the notebook inside a running Jupyter notebook.

[2015-11-24 09:46] gijzelaerr commented on #10
it looks like I can drag and drop an image onto JS9 running inside the nodebook, but the menu's don't seem to work.

![screen shot 2015-11-24 at 11 45 25](https://cloud.githubusercontent.com/assets/326308/11363200/f6b19782-92a0-11e5-9e38-29464c1e7024.png)

[2015-11-24 11:27] ericmandel commented on #10
js9plugins should be loaded after js9, not before.

It doesn't look like the CSS was loaded properly. The menu buttons are too close together. If the menu buttons do not work, I suspect there will be an error in the javascript console window. When you're in the Jupyter notebook, can you bring up the javascript console window and look at the JS9 warnings and error messages? That should tell us a lo

[2015-11-24 11:34] gijzelaerr commented on #10
running an jupyter notebook is not hard, if you have `pip` available on your system, you can just run `pip install notebook`, which should install everything you need. If you then do `jupyter notebook`, you will be serving the notebooks from your current working folder, which you can access from your browser pointing to localhost. You need to download the notebook i created or, recreate it with th

[2015-11-24 11:35] gijzelaerr commented on #10
I suddenly see these 404 errors now, I don't understand why I have missed those before... investigating.

[2015-11-24 15:48] michaelwille opened #11 "Hard readability of coordinates label"
Hi Eric,

I have noticed another issue, this time concerning the color of the coordinates and value label in the upper left of the canvas. When the displayed image is small enough, the label is displayed in black letters (which is nice on the light grey canvas background). At some point, the label color is switched to green when the image zoom level is increased. Unfortunately, this seems to happe

[2015-11-24 22:59] ericmandel commented on #9
Hi Michael,

I have implemented public API support for re-sizing the JS9 display dynamically:
[code]
Upon reflection, I decided simply to re-center image in the new display, without offering options to place the current display in another location. If there is call for this functionality, it can be added later. And it probably would be really cool if we could add an option to put resize handles on

[2015-11-25 00:18] ericmandel commented on #10
Knowing next to nothing, I installed miniconda and set up a js9/notebook environment and then ran
[code]
eventually getting the output below. Can you see what is wrong? I'm close to being able to help ...

<img width="1200" alt="screen shot 2015-11-24 at 7 13 42 pm" src="https://cloud.githubusercontent.com/assets/3028875/11384697/eec29280-92df-11e5-974a-2a5ae0a11bc8.png">

[2015-11-25 01:46] ericmandel commented on #11
The color choice code was left-over from early prototyping days. I've improved it with a more precise calculation of the height of the message area. Give it a try and see if it's any better for you. That said, you have other options:

1. have you tried the infoBox plugin? Its much nicer but of course uses up some real estate
2. you can change the colors of the text using the JS9.textColorOpts pref

[2015-11-25 05:06] gijzelaerr commented on #10
Hi @ericmandel , forget about the js9notebook for now, you can just directly copy paste the following content in a cell:

[code]

Note that Nicholas Bollweg used the requireJS method, I think to get arround the javacsript eval() issue that doesn't include access to the global variables. You can also try to copy paste the content of these cells:

https://nbviewer.jupyter.org/gist/bollwyvl/1259dd3bb

[2015-11-25 11:03] michaelwille commented on #9
Hi Eric,

I just tried it out and it works perfectly so far. Thank you very much for the great (and quick) work!
The only remaining issue I see right now is that the size of the associated JS9 menu does not match the size of the display anymore after a resize. I am not sure how it is "wired" internally, but maybe it would make sense to extend the resize command such that it is also capable of resi

[2015-11-25 11:09] michaelwille commented on #11
Thank you for the correction and the nice suggestions! They sound promising and I will give them a try the next few days. I am pretty sure that I will be able to work out a good solution this way and I was not aware of the possibility to change the color of the label so easily.

[2015-11-25 11:09] #11 closed

[2015-11-25 15:30] ericmandel commented on #9
Oh right, great idea, which I have implemented. The default is now to resize the width of the menubar, but this can be changed by passing an optional opts object:
[code]
Resizing the menubar should have been possible without this intervention, but apparently I forgot to assign a default id to the menubar div, an oversight which is now fixed.

[2015-11-25 16:49] ericmandel commented on #10
Something is wrong. I loaded local copies of js9 into a jupyter notebook:
[code]
and I got the errors in the javascript console window below. A few things to note:

This indicates that fabric.js is not defined in js9.js, which probably means that js9support.js was not loaded when js9.js was compiled.

This is probably happening in js9plugins.js and would indicate that js9.js was not loaded at the

[2015-11-25 16:52] gijzelaerr commented on #10
Short answer from mobile. It had to do with that eval() can't access the
global scope.
Op 25 nov. 2015 6:50 p.m. schreef "Eric Mandel" <notifications@github.com>:

[2015-11-25 17:24] ericmandel commented on #10
Ah, so that means we need to use js9-allinone. And in fact, that works pretty well:

%%html
<div class="JS9Menubar"></div>
<div class="JS9"></div>
<link type="text/css" rel="stylesheet" href="http://js9.si.edu/js9/js9-allinone.css">
<script type="text/javascript" src="http://js9.si.edu/js9/js9-allinone.js"></script>

<img width="903" alt="screen shot 2015-11-25 at 12 23 08 pm" src="https://cloud.g

[2015-11-25 19:02] ericmandel commented on #10
Fixed the aesthetic problem with the menus (see dark area behind menu buttons, above). It now looks like it should ... and behaves as it should too ... except for the fact that the light windows are relative to the whole web page, not the smaller display containing js9.

[2015-11-26 08:54] gijzelaerr commented on #10
Great you got it to work! But... It still doesn't work for me. What browser are you using? I tried this with Chrome, Safari and Firefox but all give the same error.

[code]
![screen shot 2015-11-26 at 10 07 35](https://cloud.githubusercontent.com/assets/326308/11418821/0e273886-942c-11e5-89bc-f1c9b2a72ae5.png)
![screen shot 2015-11-26 at 10 07 52](https://cloud.githubusercontent.com/assets/326308/

[2015-11-26 09:58] ericmandel commented on #10
I have the scheme included, whereas you not specifying the scheme. Try:
[code]
(I'm using FF at the moment.)

[2015-11-26 10:09] gijzelaerr commented on #10
did you change something in the online javascript code? It suddenly is working for me for all browsers!

[2015-11-26 10:14] ericmandel commented on #10
I've made a ton of changes over the past week (mostly: added JS9.ResizeDisplay capability) but only one minor change related to this project (removed old and unused jquery-ui class from the menu button definition) ...

[2015-11-26 10:16] gijzelaerr commented on #10
no i mean in the last half hour. I don't understand, suddenly it works.

That is a bit the problem with using code from an online web service, you are never sure which version you are using.

[2015-11-26 10:21] ericmandel commented on #10
No, it's 5am here and I just woke up!

I agree that on-line URLs can be an issue. Should they be the most current one or should they be stable? Actually, I don't know how you "release" a Jupyter notebook. Will those 5 lines of code be "packaged" somewhere so that users can find and load it automatically, or do they just copy and paste?

[2015-11-26 10:38] gijzelaerr commented on #10
What you could do is put releases in a separate directory named after the version on the webserver, that way people can decide which version they use and it won't break. We can also upload js9 to a CDN.

About the notebook, i'm not sure yet! First problem was to get the thing working, which is sort of does now. I first want to find out why it wasn't working properly before for me.

[2015-11-26 13:07] ericmandel commented on #10
Yes, that's a good idea. We also can offer different configurations with different JS9 elements: basic (display + menu), panzoom, imexam, etc. But I agree that first it has to work flawlessly.

Some other things to think about:

1. if you execute the cell twice, it gives an error.
2. why does it not do the ajax call correctly to get the socket.io code? It would be a bonus if users had access to th

[2015-11-26 13:13] gijzelaerr commented on #10
1> Yes. I think maybe it is good to split the loading of js9 and
initialisation of the div element. This gives more control during
interactive javascript usage.

2> I have no idea.

Enjoy thanksgiving!

2015-11-26 15:07 GMT+02:00 Eric Mandel <notifications@github.com>:

--
Gijs Molenaar
http://pythonic.nl

[2015-11-26 21:55] ericmandel commented on #10
Oh right ... one thing I did on Wednesday evening was to make the default helper type "none" instead of "nodejs", so that no attempt is made to connect to the back-end helper.

[2015-11-27 11:05] michaelwille commented on #9
Thanks again! I have done some testing and everything works just fine now. The new resize functionality has helped us simplify our code quite a bit which is very nice.
That's all from my side for now, but if you like we can leave the topic open for discussing the resize handles you mentioned earlier. Right now I don't see a specific need for them in our project, but it would definitely be nice to

[2015-11-27 13:58] ericmandel commented on #9
I'm glad resize is working, as it's an important addition. I'm going to close this issue, though. Adding resize handles just means writing a plugin to decorate a given display, which I have put on my TODO list. It's the sort of project one does as a rest from a larger project (unless someone else does it first).

[2015-11-27 13:58] #9 closed

[2016-01-05 11:25] cdeil opened #12 "Load text on http://js9.si.edu before socket connection"
I'm getting a timeout for http://js9.si.edu/  in Chrome from work.

![screen shot 2016-01-05 at 12 22 09](https://cloud.githubusercontent.com/assets/852409/12114064/4c28784e-b3a7-11e5-8599-078dc98483a5.png)

This might be a network / port issue on my side ... we don't have to track this down.

The issue I wanted to mention though is that the page is useless for ~ 1 minute until the timeout occurs,

[2016-01-05 13:57] ericmandel commented on #12
@cdeil Happy New Year to you too!

This is actually an interesting and important problem. A 60 or so second timeout generally means that the underlying connect() system call is hung at the kernel level, which stops all program activity until connect() times out -- i.e., in this case, the page load. I'll look around to see if there is socket.io-level fix to interrupt the connect. Because even if we

[2016-01-05 14:06] cdeil commented on #12
Yes, I see the same issue with Firefox and Safari.

How about migrating the docs to separate pages, or at least not have a JS9 instance on the docs landing page then?
In my opinion RST / [Sphinx](http://sphinx-doc.org/) is very nice and provides several other advantages (static URLs to docs pages / sections, table of contents, full-text search)

[2016-01-05 14:40] ericmandel commented on #12
Well, for now, try: http://js9.si.edu/help.html, which is just a quick TOC for the help pages which reside in the js9/help subdirectory (i.e. they are already separate from the web site page).

[2016-01-05 14:56] cdeil opened #13 "Simple pan / zoom example image"
@ericmandel - Is is possible / easy to build something like this with JS9?
http://aladin.u-strasbg.fr/AladinLite/doc/API/examples/marker-creation/

I.e. an image that can be panned / zoomed in a simple / nice way?
(but otherwise no cruft, i.e. no menu, controls, ...)

What JS / web technology is JS9 using to draw the images? All in Canvas? Using any other JS library or directly? (I couldn't find t

[2016-01-05 15:13] ericmandel commented on #13
Yes, pretty easy. See: http://js9.si.edu/js9/js9cat.html for examples of how to display catalogs layers, including tooltips, etc. Obviously, the underlying image can be panned, zoomed, etc. Catalog support and other programmatic control is described in the public API at http://js9.si.edu/js9/help/publicapi.html.

The Web page design is completely up to you, and is based on which JS9 divs you add t

[2016-01-05 15:30] cdeil commented on #13
@ericmandel - Maybe I just don't get it .... how can I pan?

E.g. at http://visiomatic.iap.fr/pleiades/ I can left-click and drag on my Macbook touchpad and on my iPad I can touch the image and drag. Zooming works via the typical Macbook / iPad guestures to zoom there.

I can't get pan / zoom to work this way with JS9.
Possible?

[2016-01-05 15:40] ericmandel commented on #13
Sorry, I did not implement panning and zooming using gestures, though it could be done. I think the panner widget gives a much better interface, since it has both an overview and fine control over where you pan to. I just want to your example page and immediately found myself zoomed in way too far, not sure how that happened. Very frustrating for me.

But if that is what is needed ... it is possib

[2016-01-05 15:52] cdeil commented on #13
@ericmandel - I agree that the panner widget can be nicer.

But for the site I want to build (displaying a survey image and overlayed catalogs like [here](https://dl.dropboxusercontent.com/u/4923986/HESS/hgps_associations_image_6.png)) for public relations I think gesture-based panning / zomming is a must.
Everyone knows it from Google maps or how image panning / zooming works in desktop image vie

[2016-01-05 16:12] ericmandel commented on #13
Panning and zooming in response to mouse or touch is not hard, but it does conflict with mouse/touch-based contrast/bias and position/value display, both of which would have to be turned off in zoom/pan mode. I guess DS9 already does this in the Edit menu for the pointer ... that has to be thought about ...

How serious are you about using JS9? I could implement touch-based zoom/pan, but I wouldn'

[2016-01-05 16:26] cdeil commented on #13
I've been looking at options today. Based on what is there now and the feedback by @ebertin in https://github.com/astromatic/visiomatic/pull/5#issuecomment-168992829 I'm inclined to use Visiomatic.

So don't implement this zoom / pan in JS9 just because I asked for it!

Although: isn't the pan / zoom behaviour I'm asking for also what ds9 does?
I.e. it's what most astronomers expect that have used

[2016-01-05 16:43] ericmandel commented on #13
I certainly would implement touch-based zoom/pan sooner if we were going to work together. But, as things stand, I'll put it on my list and it will get done in the natural course of events. Tiling, now that I understand what you mean, would also fall into this same implementation arena, since the point is that you pan the currently displayed image and possibly ask for another one from the server.

[2016-01-05 17:00] cdeil commented on #13
@ericmandel - Up to you if you want to close this issue or keep it open as a feature request.

[2016-01-05 17:32] ericmandel commented on #13
Good idea!

[2016-01-06 21:36] ericmandel commented on #12
@cdeil in an attempt to deal with your connect() hang, I added a timeout in two places. But since I can't reproduce the hang easily, I wonder if you would try to load this URL (my semi-public test page) from work and let me know what happens:

http://mred1.cfa.harvard.edu/js9/js9debug.html

In the best case scenario, there will be a delay of approximately 10 seconds, an image will load in each of

[2016-01-07 07:32] cdeil commented on #12
This is exactly what is happening (I think).

[2016-01-07 12:00] ericmandel commented on #12
If the images loaded, one of the timeouts stopped the connect() hang, reset the state of the server-side helper, and moved on to process the data files. That's probably the best we can do for this problem (although perhaps the timeout period can be shortened).

Thanks for checking this out!

[2016-03-31 14:38] havok2063 opened #14 "multi-extension fits files"
Hi, this looks very promising, and I would love to implement this in a site I'm developing.  I understand it's a scaled down version of DS9, but I have a few questions regarding some aspects of it.

 - Is it possible to view/load other extensions of a FITS file in JS9?  I cannot find any documentation on how to do this.  It seems to only load the first extension by default.

- Can JS9 handle IFU d

[2016-03-31 14:54] ericmandel commented on #14
@havok2063 I'm working on multi-extension support right now. I have the low level code completed (including the public access routine JS9.DisplayExtension()) and I am currently working on the high-level plugin through which you will be able to switch between extensions. I expect to upload it into GitHub in a few days.

Next comes data cubes, which actually is a bit harder but should follow the sam

[2016-03-31 18:23] havok2063 commented on #14
@ericmandel That's great.  I'm happy to hear this is on the agenda.  Yes please do let me know when the  options for display of multiple extensions is available.  I'd like to test it out.  I'm happy to help in the design for cube viewing.  I do have a test file I can provide.  I'm mainly working with optical IFU cubes.

[2016-04-01 16:56] ericmandel commented on #14
@havok2063 I've implemented support for multi-extension FITS files, consisting of several layers:

* File-> display FITS HDUs will simply display the HDU structure of a FITS file in a text window
* the View->Extensions plugin allows you to click on an HDU extension in order to display it
* the JS9.DisplayExtension() public access routine allows you to display extensions from Javascript

It's all u

[2016-04-01 19:07] havok2063 commented on #14
@ericmandel Excellent.  I've had a quick look at this, and it looks very promising.  I like it.

Does it work? - Yes, it seems to work for me.  I've tried several FITS files with ~10 extensions, the largest file being ~110MB.  There was a bit of delay when loading each extension for this large FITS after clicking, but it wasn't unbearable.

A few issues with the pop-up FITS extension window:
 - Re

[2016-04-01 19:30] ericmandel commented on #14
@havok2063 That's a good start. I'll work harder on the plugin window: all of the things you mention can be fixed ... I didn't want to spend a lot of time on HTML work at the very outset. But if you can work with the current scheme for now, I'll spend a few days working on the  GUI and on issues surrounding the separate display of extensions. The nice thing about allowing such separation is that y

[2016-04-01 20:38] havok2063 commented on #14
@ericmandel Yeah sure.  I have one about ~112 MB in size.  What would be the best way to deliver it?

[2016-04-01 20:41] havok2063 opened #15 "loading files served from a separate site"
My data files are served on a separate web server than my site is run from.  I normally access them through a separate URL.  Is it possible to have JS9.Preload() or .Load() accept an absolute URL path to a data file, rather than a relative filesystem link?

[2016-04-01 20:43] ericmandel commented on #14
Can you put it on a web site for 1/2 hour? ftp site? We may have an ftp site which allows anon. put, but I'd have to ask ...

[2016-04-01 20:54] ericmandel commented on #15
Yes and no, mainly no. The Web's **same-origin policy** mandates that the image data must be located on the same server as the javascript used to access it. The alternatives are:

1. if the **data server is CORS-enabled**, it can tell the browser that its OK to allow javascript from another host to access the image data. I've never done this, but its pretty standard (Dropbox supports it, for examp

[2016-04-01 21:17] ericmandel commented on #15
By the way, some astronomical archives (such as SDSS) are CORS-enabled, in which case JS9.Load() will work with an absolute URL.

[2016-04-02 17:04] havok2063 commented on #14
@ericmandel I will need to contact my collaborators first before I can share one of our IFU cubes. Once they approve I can share it with you via the Dropbox link you sent me.

[2016-04-02 17:08] ericmandel commented on #14
If the data is proprietary, don't bother. I'll ask around here instead. Obviously, Bill Joye has data which he used to develop the DS9 cube capabilities ...

[2016-04-02 17:10] havok2063 commented on #14
It is SDSS data that will be made public soon.  I don't think they'll mind, but I just need to get confirmation.

[2016-04-02 17:14] ericmandel commented on #14
OK, but don't use any silver bullet on this. In the meantime, I'm fixing the html problems you mentioned above (except for the header spacing issue, for which I need a file with 10+ extensions).

[2016-04-02 19:29] ericmandel commented on #14
@havok2063 I fixed extension plugin resize, scroll, and (Chrome) spacing problems mentioned above. I'll give some thought to allowing a separate display of extensions before going on to cube processing ... but let me know if you run into problems in the meantime.

[2016-04-03 22:08] havok2063 commented on #14
@ericmandel That's great.  Have they been pushed to the website for testing?  I got the OK about the file and just uploaded it to your dropbox link.

[2016-04-03 22:16] ericmandel commented on #14
@havok2063 Yes, in GitHub and installed on the js9 web site for testing. I'm working on the ability to move an image from one display to another (which turns out to be a bit tricky) as a precursor to allowing you to display an extension to a separate "file". Together, these two features will steam-line the comparison process you outlined above, which is a great idea, so thanks ... and thanks for t

[2016-04-04 15:36] havok2063 commented on #14
@ericmandel Great.  I've played around again with the tool, and all three fixes look to be in place.  I've only tested it in Chrome so far.  It looks good.  I thought of another feature that would be good.  I've always wanted the ability to do this in DS9 and was disappointed it was never there.  Image extension arithmetic.  I'd like the ability to do mathematical operations (add, subtract, etc) o

[2016-04-04 15:57] ericmandel commented on #14
Yes, some important underlying support for image arithmetic is in place, but there are some tricky complications. Have a look at the public API routine called JS9.RawDataLayer(), which allows you to manipulate the raw data for an image. This is how, for example, the GaussianBlur function works. So in principle, if you can access an image's extensions at the same time, you can combine them arithmet

[2016-04-05 15:18] havok2063 opened #16 "mathematical operations between extensions"
New issue from previous thread. "I've always wanted the ability to do this in DS9 and was disappointed it was never there. Image extension arithmetic. I'd like the ability to do mathematical operations (add, subtract, etc) on different extensions, and make a new image. Or take the mean of some part of one extension and add it to another. Stuff like that. Do you think something like that is possibl

[2016-04-05 15:41] ericmandel commented on #16
I'm traveling right now, butl realized that this is easy (except for the graphical user interface). All we need do is take an existing cfitsio program that does FITS image arithmetic, compile to JavaScript and run it in the JS9 Emscripten environment. FITS output becomes either a new raw layer or new file. The UI Is tough but let's think about that once we get the extension stuff finished. Also ne

[2016-04-07 10:08] briehanlombaard opened #17 "Region jumps back to original position"
Hi Eric,

When I add a region to the display and try to move it while doing a bunch of `RefreshImage` calls it keeps jumping back to its original position. This is something that I think was possibly fixed in the past, but seems to have returned somewhere between v1.3 and v1.5.

In v1.8 `RefreshImage` seems to have changed quite a bit but looks more or less the same. I noticed that the variable `d

[2016-04-07 10:17] briehanlombaard opened #18 "TypeError: Argument 1 of CanvasRenderingContext2D.createImageData is not a finite floating-point value."
Hi Eric,

I've upgraded from v1.5 to v1.8 and get this error when using either `JS9.Preload` or `JS9.Load` to load an initial image into JS9. This only happens when loading a PNG.

The error is in the `createImageData` call below:

[code]

And the `sect` object looks like this:

`Object { zoom: 1, ozoom: 1, xcen: NaN, ycen: NaN, width: NaN, height: NaN, x0: NaN, y0: NaN, x1: NaN, y1: NaN }`

Any i

[2016-04-07 14:52] ericmandel commented on #18
Hi Briehan,

I can't reproduce this yet. The preload demo seems to work: http://js9.si.edu/js9/js9preload.html

Is there any chance that you are picking up the old js9support.js file with the new js9.js file? We know that Chrome is pretty aggressive about caching files.

Also, are you talking about a PNG file that is converted from FITS using fits2png/tpos or an "ordinary" PNG file?

[2016-04-07 15:16] ericmandel commented on #17
Hi Briehan,

I remember this bug, but I can't yet reproduce it. Here is my first test in a JavaScript console:

1. Load a FITS image and get its im handle: var im = JS9.GetImage({display: "myJS9"})
2. Put up a region and move it off-center
3. Choose Analysis -> gaussian blur sigma, set it to 2 (for example) and click outside the menu to blur the image
4. refresh using the unblurred image data: JS9

[2016-04-08 23:53] ericmandel commented on #14
@havok2063 I have implemented two new JS9 features, which together should open up some new analysis possibilities:

1. The Extension plugin now has a checkbox at the bottom to ***Display each extension as a separate image*** When checked, newly displayed extensions act like separate images and can be blinked, blended, etc.

2. The ***File->move image to*** menu option allows you to move an image t

[2016-04-11 13:12] havok2063 commented on #14
@ericmandel Great.  I will have a look today, play around with it and reply with some comments.  Thanks.

[2016-04-12 17:46] ericmandel commented on #16
@havok2063 I have implemented basic image arithmetic between two images or between an image and a constant. There is a JS9.ImarithData() public access routine underlying the View->imarith plugin. If you load your FITS extensions into "separate files" using the multi-extension plugin, you should be able to combine them in various ways using the imarith plugin. Let me know what you find ...

[2016-04-12 17:47] ericmandel commented on #18
@briehanlombaard Any new word on this? I'd like to get you all fixed up as soon as possible.

[2016-04-13 10:29] briehanlombaard commented on #17
Hi Eric,

I'll see if I can get a test running online, but if I understand your test scenario correctly you aren't trying to move the region while refreshing the image?

If you can somehow put steps 3 and 4 in a loop and then try to click and drag the region somewhere else while that is happening it should illustrate the problem more clearly.

Hope that makes sense.

[2016-04-13 10:34] ericmandel commented on #17
@briehanlombaard Thanks, I didn't quite understand the report, let me try that and get back to you.

[2016-04-13 12:13] briehanlombaard commented on #18
Hi Eric,

Sorry for being so slow to get back to you. I'm using an [ordinary PNG](https://bytebucket.org/saao/shoc-web/raw/74c67dc0f31be9bc79f728790d16d4ce7068eac0/app/static/img/blank.png).

[2016-04-13 12:32] ericmandel commented on #18
Hmmm ... I wasn't aware that you ever could load an ordinary PNG file (I thought it was only drag and drop) ... and I don't seem to be able to do it on v1.5. Are you using fitsy.js or the internal cfitsio?

[2016-04-13 12:40] briehanlombaard commented on #18
It looks like we stopped using fitsy.js when we upgraded to v1.5

[2016-04-13 12:49] briehanlombaard commented on #18
I should add: let me know if what I'm doing is not supported. It should be easy enough to load in a blank FITS file if that's the way it's supposed be done.

[2016-04-13 12:55] ericmandel commented on #18
It's good that you moved away from fitsy.js, as new capabilities (e.g. multi-extension FITS support) can't be done using that simple code. But let me look into support for jpeg files. If it worked with v1.5, it ought to work now. I do apologize if bugs have been introduced. Usually that indicates that the software is getting old, but in this case it might just mean that I'm getting old.

[2016-04-14 01:15] ericmandel commented on #18
@briehanlombaard Hi Briehan, oops it looks like I deleted one too many lines from JS9.Image.prototype.mkRawDataFromPNG. I committed the fix to GitHub, but you can just add the line listed below for testing. It should work, in which case you can close this issue ...
[code]

[2016-04-14 07:04] briehanlombaard commented on #18
Thanks Eric. That fixed it.

[2016-04-14 07:04] #18 closed

[2016-04-14 12:49] ericmandel commented on #17
@briehanlombaard  This is really hard to reproduce ... I think it's a race condition between the redraw and the region move. In any case, I can see how that _might_ lead to a race condition. The original logic was good, but I removed it because there were other cases where one would want to update the region positions ... and I erroneously thought we could get away with always updating. So in the

[2016-04-18 09:45] briehanlombaard commented on #17
That seems to fix it. Thanks for looking into it.

[2016-04-18 11:30] #17 closed

[2016-05-03 08:13] briehanlombaard opened #19 "Image scaling doesn't update after refresh"
Hi Eric,

There was a change at some point that makes it so that an image's scaling doesn't get updated when I do a refresh which sometimes can produce a completely saturated image.

I've tracked it down to [this commit](https://github.com/ericmandel/js9/commit/a292bf2868c02b038919100e3b3df8c388976de2) and the exact change in there is this bit right here:

    @@ -1472,12 +1478,10 @@ JS9.Image.pro

[2016-05-03 12:52] ericmandel commented on #19
@briehanlombaard But not a good reason: this is the second mistake I've made while trying to squeeze too much performance out of the code. Those lines should be replaced by the generalized method:
[code]
and the 4 prior !isNaN(tval) checks that set the dmin and dmax should be removed. If you just call this.dataminmax() (and let me know that the problem is fixed), I'll clean up the code as soon as

[2016-05-03 13:42] ericmandel commented on #16
@havok2063 this imarith support is now in use by our science ed department, so I'll close the issue. Feel free to re-open if necessary.

[2016-05-03 13:42] #16 closed

[2016-05-03 13:49] ericmandel commented on #14
@havok2063 I've pushed initial 3D data cube support into GitHub, including a __JS9.DisplaySlice()__ public routine and a __DataCube__ plugin. It works on the 3D cube you gave me, although extracting a slice is slower than I expected. I don't see how to improve the performance, it may just be where the Javascript technology is at right now . I'm going to close this issue but feel free to start a ne

[2016-05-03 13:50] ericmandel commented on #15
@havok2063 Have you made any progress with this issue? Or should we close it?

[2016-05-03 13:52] ericmandel commented on #19
Actually, I pushed the fix to GitHub. Please let me know that its fixed for you too.

[2016-05-03 13:54] briehanlombaard commented on #19
Yup, that does fix the problem. Thanks for the quick response as always :)

[2016-05-03 13:54] #19 closed

[2016-05-03 14:04] ericmandel commented on #10
@gijzelaerr Do you still have interest in this project, or should I close the issue? I can't take this any further myself.

[2016-05-03 14:08] gijzelaerr commented on #10
hi @ericmandel, sorry for not spending time on this anymore. Do you mean js9 itself or js9 integration with jupyter notebooks?

I think js9 integration in jupyter can be very useful for us. I hope to be able to spend time on this somewhere this year, but for now i'm too busy with other things. Sorry, I wish I just had more time.

[2016-05-03 14:15] ericmandel commented on #10
@gijzelaerr I meant integration with jupyter  ... I can take js9 itself further :) ...  anyway, it's not a problem to leave the issue open, I was just cleaning up some other issues and wondered about the status.

[2016-05-03 14:20] gijzelaerr commented on #10
great, it would be a great loss if js9 would lose you as a maintainer ;)

[2016-05-03 14:30] ericmandel commented on #10
No, I'm in it for the long haul ... we have a semi-infinite number of things we want to do with JS9 (just pushed multi-extension and 3D cube support to GitHub). But I definitely could use help with the Python connection ... at some point ...

[2016-05-03 14:31] gijzelaerr commented on #10
ok so hopefully at some point we can pick this up this year!

[2016-05-05 15:21] havok2063 commented on #15
@ericmandel I have not had a chance to work on this at all.  This may not end up being as big an issue as I thought it would.  I think we can close this for now, and if it turns out it's a problem then we can reopen it.

[2016-05-05 15:23] ericmandel commented on #15
@havok2063 OK, let me know if I can help with anything.

[2016-05-05 15:23] #15 closed

[2016-05-05 15:39] havok2063 commented on #14
@ericmandel  Sorry about not responding earlier to this.  I really like what you have done.  These are both really useful features.  I do have some feedback about the last changes made.

1. I was wondering if we could move the 'Display each extension' checkbox to the top of the window.  With it at the bottom, it's a bit hidden away when there are lots of extensions, so it's not clear to people tha

[2016-05-05 15:44] havok2063 commented on #14
@ericmandel How do I use the DataCube plugin?  Is this something that is usable in the browser version currently up on the web?

[2016-05-05 15:51] ericmandel commented on #14
@havok2063 Thanks for this good feedback. I'll make mods in the next few days ...

[2016-05-05 15:55] havok2063 commented on #14
@ericmandel I like the new DataCube feature.  This works well.  The speed isn't too too bad.  How are you extracting the slice?  Is this a server-side operation?  Are you reading the entire thing into memory each time to extract a slice?

Some feedback:

A minor tweak.  Could we add a label between the slice index and the slice select dropdown, that indicates the name of the extension we have open

[2016-05-05 16:24] ericmandel commented on #14
@havok2063 I'll add the extension name along with the other mods. All of these are good ideas that should be relatively easy. And you definitely found a bug, looks like I tied some mef variables to the plugin object instead of the individual plugin instance, so it got picked up globally. I'll fix all of that.

The sluggish slice access just uses standard cfitsio routines (well, cfitsio compiled to

[2016-05-08 20:34] ericmandel commented on #14
@havok2063
I made the requested mods, updated into GitHib and installed on the Web site for testing. Let me know what you find ...

[code]
Done

[code]
Done

[code]

This was hard to reproduce, but I fixed a bug which resulted in HTML Extension element ids not being unique when multiple extensions were displayed as separate files. If this problem persists, I'll need more explicit instruction on ho

[2016-05-10 14:30] havok2063 commented on #14
@ericmandel This looks great thanks.  All the tweaks look perfect. The bug that occurs when the multiple View Extension windows are open looks resolved.  I found one additional tweak regarding this, which may be related to other issue with which loaded extension appears displayed under the File menu

- The extension number is not being updated when I click a new extension.  The checkbox to display

[2016-05-11 10:11] ericmandel commented on #14
@havok2063 Thanks! I think it would be a really good idea to have the EXTNAME in the File menu display name. I have to look into the ramifications, which I'll do (while fixing bugs) later in the week.

[2016-05-14 14:48] ericmandel commented on #14
@havok2063 I added the extname (or extnum) to the image id. This required a number of changes to various parts of JS9 to make it all consistent (including identifying and working around a mismatch between the cfitio extended filename extension number and the cfitsio library routine to get the extension number.) But in the end it makes the multi-extension processing much cleaner, and also solves a

[2016-05-25 20:03] ericmandel commented on #13
@cdeil The "natural course of events" (see above) having taken place, I implemented gesture-based pan and zoom in JS9 as part of a generalization of gesture actions. An description can be found at http://js9.si.edu/js9/plugins/help/mousetouch.html ... basically, Web page designers can decide on the default set of actions, but users can change them at run-time.

The code is updated into GitHub, but

[2016-05-30 13:21] ericmandel commented on #14
@havok2063 it turns out that the delay in accessing a new slice from your 100Mb test file is entirely due to the fact that it's in gzip'ed form. If you load the ungzip'ed file, the speed-up is striking indeed, both during the initial load and subsequent changes of slice. I'll look into this, but I suspect it's going to be one of the rough edges of Web-based analysis.

I'm close to closing this iss

[2016-05-30 14:23] #12 closed

[2016-06-04 20:33] cdeil commented on #13
@ericmandel - Thanks!

Everything works on my Macbook and IPad.

Are the defaults for the demos on http://js9.si.edu/ up for debate?
- Why mousetouchZoom: false? Are there any drawbacks to having this on by default?
- On my Macbook to pan I use two finger. On my IPad it's three fingers. That's a bit unintuitive. Can't it work the same on both by default? (one's a touchscreen, the other a touchpad)

[2016-06-04 23:40] ericmandel commented on #13
@cdeil Everything is up for debate, of course ...

I made scrollZoom false because if it was true, I worried that users would then naturally expectthe primary mouse down/move to initiate pan, mimicking the two actions in Google maps. Since the default for primary mouse down/move is contrast/bias and not pan, I thought this would be confusing.

And ... I didn't want to make primary mouse down/move

[2016-06-05 15:31] ericmandel commented on #13
@cdeil  I just added the mouse/touch gesture options to the Prefs plugin. This means, for example, that you can go to the js9 web site, open the Prefs plugin, click the displays tab, choose the actions you want to be the defaults, and save. Now whenever you visit that page, your options will be configured properly. That should help some, regardless of how we end up setting the defaults ...

[2016-06-05 18:04] #14 closed

[2016-06-08 14:35] ericmandel commented on #13
@cdeil Thanks for your help, I'll close this and you can open a new issue for anything else that arises.

[2016-06-08 14:35] #13 closed

[2016-06-10 05:44] cdeil commented on #13
That makes perfect sense. I mostly work with survey images and always want the Google maps behaviour. Thanks for implementing this and making it configurable in a nice way!!!

[2016-07-10 18:18] jzuhone opened #20 "Open alternative WCS"
The desktop version of DS9 supports multiple WCS in the same file, e.g. WCS a - z. It would be good to have this support in JS9 as well.

[2016-07-10 18:42] ericmandel commented on #20
@jzuhone Do you have an example FITS file? JS9 just uses the standard wcsinit() on a FITS header, so presumably I can add this if I can recognize the existence of alternate WCS ...

[2016-07-10 18:48] jzuhone commented on #20
The file here has several image HDUs, each of which have a default linear WCS and a WCSa that is celestial: https://girder.hub.yt/api/v1/item/57506e8d611437000153b168/download

[2016-07-10 19:04] ericmandel commented on #20
@jzuhone Oh, I see the alternate syntax, which looks like a hack! Let me get into it, I don't see explicit support in Jessica Mink's WCS library, but it also looks like you just have to separate out the alternate WCS keywords and call wcsinit() on them.

[2016-07-10 19:10] jzuhone commented on #20
I think it's non-standard, but it's standard "enough" that DS9 already recognizes it?

[2016-07-10 19:29] ericmandel commented on #20
Oh, interesting, looks like its part of the official WCS canon:

http://www.atnf.csiro.au/people/mcalabre/WCS/wcs.pdf

I'll look into it in the next couple of weeks.

[2016-07-10 19:36] jzuhone commented on #20
Cool, thanks!

[2016-07-16 16:45] astrofrog opened #21 "Package JS9 for NPM"
It would be great if JS9 could be packaged for NPM (https://www.npmjs.com/)

The background for this is that @gogrean and I are developing a plugin for Jupyter lab that uses JS9 and it would be much simpler to distribute this to people if JS9 was included on NPM.

[2016-07-16 21:35] astrofrog opened #22 "Passing a base64 encoded FITS file requires filename to be explicitly passed"
The following call does not work (base64 code shortened for readability):

[code]

but everything works fine if I explicitly pass a filename in the options:

[code]

However, this is not mentioned in the documentation. Would it be possible to either fix this so that the filename is not required, or update the documentation to mention this requirement?

(cc @gogrean)

[2016-07-16 22:13] ericmandel commented on #21
@astrofrog This is a good idea.  Unless you have an immediate need, I'll plan to publish an npm package with the release of js9 1.10 (probably first half of August). I started to play with publishing a package today, but got messed up and decided I'd better look at the documentation ...

Are you aware that  the js9-allinone.js and js9-allinone.css files are available on the js9 web site:

http://j

[2016-07-16 22:15] ericmandel commented on #22
@astrofrog @gogrean I've never tried this, but if it does not work, it's a bug, and I'll fix it in the next few days. Can I assume your encoded file is a FITS file, or are you loading an PNG/JPEG/etc image?

[2016-07-16 22:17] astrofrog commented on #21
This would be great - thanks! (first half of August would be early enough for us)

[2016-07-16 22:18] astrofrog commented on #21
Just to clarify, using the ``js9-allinone.js`` and ``js9-allinone.css`` would not be sufficient in our case, because the Jupyter developers want to avoid bundling any JS code directly, and instead want to manage dependencies via NPM.

[2016-07-16 22:19] astrofrog commented on #22
@ericmandel - this is indeed an encoded FITS file. Let me know if you need a full example to reproduce this.

[2016-07-16 22:22] ericmandel commented on #22
@astrofrog A full example would be helpful, saving me the trouble of figuring out how to generate the first one (I imagine I'll have to test a bunch of them before calling it fixed).

[2016-07-16 22:28] ericmandel commented on #21
OK, thanks, I have no real experience with Jupyter and certainly no experience with their development protocols. I'm sure you have seen #10, which also deals with Jupyter-related development ... but I can only respond to specific requests from you experts ...

[2016-07-16 22:42] astrofrog commented on #22
@ericmandel - here goes: https://gist.github.com/astrofrog/1e287c3cc787818bdf5d784460269c52

If you remove the ``{"filename":"test.fits"}`` you will see an error

[2016-07-16 23:10] ericmandel commented on #22
@astrofrog Duh ... in the case where no filename was passed, I was "cleverly" making up a filename with non-alphanumeric characters in it, and the emscripten virtua file system did not like that. So now the anonymous name is ... "Anonymous" (though you can change the ANON variable to anything you like in js9Prefs.json) and everything works better. It's updated in GitHub, so if this works for you,

[2016-07-16 23:12] astrofrog commented on #22
Thanks for the quick fix!! We'll test this out shortly.

[2016-07-16 23:31] ericmandel commented on #22
@astrofrog Hmmm ... I just uploaded another change to ensure uniqueness of the anonymous filenames in cases where you load more than one of them at a time.

[2016-07-18 23:55] ericmandel commented on #20
@jzuhone I added support for alternate WCS on two levels: the WCS->alternate wcs menu option allows you to choose an alternate WCS, if present. And the JS9.SetWCS() public routine lets you set the alternate WCS programmatically (documentation in the publicapi.html page). It's all uploaded in GitHub and also installed on the http://js9.si.edu web site.

Feel free to complain ... or close this issue

[2016-07-19 15:31] ericmandel commented on #21
@astrofrog @gogrean I published a snapshot of js9 (called 1.9.1) on npm. I'll keep it up to date when I make "official releases", but this version of js9 should work fine:
[code]
It installs under a node_modules directory, which is not surprising, but a bit odd for ordinary use ...

Let me know if this is what you wanted, and if so, feel free to close this issue.

[2016-07-19 15:54] ericmandel commented on #21
@astrofrog @gogrean The only issue I can see is that the 'npm install' has ignored js9's node_modules directory. (js9 has the option of running a node-based back-end server, but this is not necessary to use js9.) I suspect this is not a problem for your application, but it is an artifact of using npm to manage a non-node package. Let me know if it is a problem for you and we'll work something out.

[2016-07-21 22:43] mgckind commented on #21
@astrofrog If this is of any help just let us know, we are facing similar issues for the Jupyter Js9 integration. We are trying both server and client side integration. baby steps still :) https://github.com/mgckind/jjs9

[2016-08-01 23:52] #20 closed

[2016-08-05 03:31] ericmandel commented on #21
@astrofrog @gogrean I fixed the above-mentioned problem with the missing node_modules directory ... installing via npm (v1.9.4) should now give you a complete js9 package.

[2016-08-14 17:06] #21 closed

[2016-08-14 17:07] #22 closed

[2016-09-22 03:23] mgckind opened #23 "interactive menu not working from Jupyter notebooks"
Hi Eric,

I have been using js9-allinone files to display JS9 divs on lcoal jupyter notebooks. Up to v1.9 the menu (File, View, Zoom, etc.) was responding ok. When I use the files from master it doesn't respond anymore. The  <div> display the images fine, it is juts the menu is not responding. Not sure if related to the new styles in the menu but I haven't been able to trace it.  Any thoughts?

[2016-09-22 03:49] ericmandel commented on #23
@mgckind

Hi Matias,

I did update the context menu code since v1.9 was released, so let me look into that tomorrow. I see I need a more formal test file for the allinone code, if it's being used.

[2016-09-22 04:13] mgckind commented on #23
I've found the commit,  26ee344ecded84f6bc6d4c8686f703d47df97843

After that, the menu stopped responding (in jupyter)

[2016-09-22 18:24] ericmandel commented on #23
(Documenting the fix before closing the issue)

I fixed the contextMenu problem and uploaded everything into GitHub. The cause is most unfortunate: the contextMenu code was upgraded in July, and the new "immediately invoked function expression" did not work with Jupyter, which did not see $ as jQuery and therefore did not add the contextMenu function to $. So I hacked the jquery.contextMenu.js cod

[2016-09-22 18:24] #23 closed

[2016-11-14 01:09] ericmandel commented on #10
I'm going to close this issue for lack of activity. If anyone is still interested in a js9/Jupyter connections, please have a look at https://github.com/mgckind/jjs9 ...

[2016-11-14 01:09] #10 closed

[2017-01-17 09:41] paruzzz opened #25 "Multi-Extension fits file display."
Hi,

I'm pretty new to JS9 and I want to use it in my website (server side). I've multi extension fits cubes and I want to play each extension for some time and then switch to the next extension.

ie. if my multi-extensional fits file has 7 extensions, I want to preload the window with the primary extension and then play through 1 to 7 with a time delay.

The entire fits file has to be refreshed w

[2017-01-17 13:45] ericmandel commented on #25
The JS9 Public Access routine JS9.DisplayExtension(extid) is what you want. Here extid can either be the extension number or the extension name (where present). You can play with this by loading one of your extension files into JS9 and then calling the routine in the JavaScript Console.

How you call JS9.DisplayExtension() depends on your user interface. I presume you would have a Start/Stop butto

[2017-01-19 10:25] paruzzz commented on #25
The website that I'm building requires two JS9 plugins for displaying two types of FITS images.

1. The first plugin goes through 4 FITS images at a delay of 500 milliseconds.
2. The second plugin plays through the different extensions in a single multi-extension FITS file.

Both the windows have to be refreshed when there is a new FITS image file or the image file gets updated.

Please find the w

[2017-01-19 14:27] ericmandel commented on #25
The problem is that JS9.Load() is an asynchronous call, and all of your image loads are completing before you can display the extensions. We deal with the asynchronous nature of web programming by using callbacks. In this case, you would call JS9.Load and specify an onload callback to display the extensions.

Also, you should use setTimeout instead of blocking the web page while waiting for the ti

[2017-01-23 11:31] paruzzz commented on #25
Thank you Eric for the prompt replies.
In the website I'm trying to make, there are two JS9 displays (id- "myJS9" and "JS9").
I've to continuously loop the images for  infinite duration.
How do I close an image by specifying the display?
Every Time I'm calling JS9.CloseImage(), only displayid-"JS9" is getting closed.
Hence the browser is eventually running out of memory. The errors I'm getting aft

[2017-01-23 12:36] ericmandel commented on #25
All of the JS9 public access routines take an optional argument to specify the display. To close both displays, call JS9.CloseImage() twice:
[code]

[2017-01-23 14:35] ericmandel commented on #25
To loop on extensions, make this change to the code above:
[code]
On Chrome, I've been running a continuous 1/2 second loop displaying extensions from a list of images for more than an hour, with no memory problems. In fact, I don't see any increase in use of Chrome memory at all. But .... I suggest we continue debugging through email:
[code]
Please email me your code and make your FITS files avai

[2017-01-24 13:30] ericmandel commented on #25
Yesterday and I found and fixed two memory leaks in JS9. (Yes, even though it’s javascript, memory can leak when using emscripten to translate C libraries such as cfitsio — there is a heap used by the translated code for memory allocation and deallocation). I have updated GitHub with the new code.

Last night I ran a continuous test of loading images and displaying extensions for 10 hours without

[2017-01-25 09:42] paruzzz commented on #25
Dear Eric,

I tested the updated JS9 package from github but running 7 dimensional
multidimensional fits image in loop. It worked fine for 5 mins and then
chrome crashed with memory leakage.

Initial error were from cfitsio.js and then  it shows " Google chrome ran
out of memory when trying to display webpage."

On Tue, Jan 24, 2017 at 7:00 PM, Eric Mandel <notifications@github.com>
wrote:

[2017-01-25 10:04] paruzzz commented on #25
These are the errors with the updated package...

RangeError: Source is too large
    at Int8Array.set (native)
    at Object.read (http://192.168.13.129/js9/js9support.min.js:508:412302)
    at Object.read (http://192.168.13.129/js9/js9support.min.js:508:447909)
    at Object.doReadv (http://192.168.13.129/js9/js9support.min.js:508:468343)
    at ___syscall145 (http://192.168.13.129/js9/js9suppor

[2017-01-25 12:17] ericmandel commented on #25
Please use js9support.js instead of js9support.min.js, so that we can see real locations in the stacktrace. Do I have the FITS data file that caused this error in the package you sent yesterday?

[2017-01-25 12:24] paruzzz commented on #25
Yes. You've.

On Wed, Jan 25, 2017 at 5:47 PM, Eric Mandel <notifications@github.com>
wrote:

[2017-01-25 12:54] ericmandel commented on #25
OK, thanks, I'll run my test setup with your FITS files and see if there is a difference. If you run your won setup using js9.js and js9support.js instead of the minimized files, we'll both get some good data.

[2017-01-25 13:46] ericmandel commented on #25
I’ve been displaying the extensions in your pointing_VIC_Si_o_20160809_110517.069884.fits file in a loop for 20 minutes, without any increased memory usage. I append the script I am using, which you should try (adjusting the pathnames of the file or files).

Before we go further, can you please verify that you are not accidentally using the old js9 support files? Chrome is very aggressive in how i

[2017-01-31 10:14] paruzzz commented on #25
Thank you Eric for your support.

The memory leak got fixed and the website worked with the latest updation
of JS9  and disabling of cache.

Now can you please help me with how I can display a fits file (randomly
generated) which is outside the html directory. What changes should I do to
the JS9 settings?

-Parvathi S

On Wed, Jan 25, 2017 at 7:16 PM, Eric Mandel <notifications@github.com>
wrote:

[2017-01-31 13:31] ericmandel commented on #25
You can load FITS files using JS9.Load(), supplying a pathname relative to the web page's directory:
[code]
(You also can use absolute paths, but this is not recommended, as it leaks the directory structure.)

If you are having problems loading FITS files, please open another issue, so that we keep the different problems separate. I'm going to close this memory-leak issue.

[2017-01-31 13:31] #25 closed

[2017-04-10 07:21] paruzzz opened #26 "Issues loading large multi-extension files"
Hello Eric,

The website I'm working on  needs to display large multi-extension fits files which are been dynamically updated throughout the exposure time.

Whenever I'm testing it live, the JS9 plug in is waiting for the entire multi-extension file to be written completely on the hard disk (ie, for the entire exposure time), and then it takes an additional time to load it. Our files consists of a

[2017-04-10 11:41] ericmandel commented on #26
@paruzzz Have you looked at the JS9.RefreshImage() public routine? This routine allows you to re-display an image with new data that can be supplied in various formats. Once you have sent the newly updated extension to the web page, you can then call RefreshImage to display it. This is supposed to be fast enough for real-time updates and is being used in some telescope control systems.

But there

[2017-04-11 05:10] paruzzz commented on #26
Dear Eric,

We are moving the latest update from data machine to web server via rsync
and the latest filename is passed on via javascript on the web page.

can you tell me how to use the JS9.RefeshImage() routine with the inputs we
have and then point to the last extension (does JS9 has a public variable
like hdu length??)

Thank you for your prompt replies.

On Mon, Apr 10, 2017 at 5:11 PM, Eric

[2017-04-11 14:06] ericmandel commented on #26
@paruzzz JS9.RefreshImage() assumes you have the new FITS data transferred into the browser already. In a typical real-time application, you would have a data acquisition worker in your web page retrieving the data and passing it onto JS9.RefreshImage().

In your case, you have a re-written FITS file on disk. If you want to display its last extension without transferring the entire file to the bro

[2017-04-11 16:28] paruzzz commented on #26
I've tried this option using astropy, extracting the last extension and
displaying it in js9 as a single fits file. The issue with that is, astropy
if waiting for the for to be completed (it shows file truncated error) ,
and after the entire multi extension is written, it points to the last
extension. In short, only the first and last hdu's are displayed on the js9
plug in.

On Apr 11, 2017 7:36 P

[2017-04-11 19:53] ericmandel commented on #26
I don't know much about astropy, but it sounds like you need to close and then reopen the FITS file every time you are going to extract the last extension. Python experts might be more help here.

[2017-04-20 21:14] ericmandel commented on #26
@paruzzz Are you making progress on this problem? Can I help? Or perhaps its been solved and we can close this issue?

[2017-04-28 11:27] paruzzz commented on #26
Dear Eric,

I've been trying to make progress with the method you suggested earlier.
I've managed to populate the latest fits files in the web directory
and the same file gets updated every 0.5 seconds. (the file is deleted
and the new file is created). The JS9.Load is not able to load (load ,
close and load next) the new image is 0.5 seconds (its an observation)
and hence it waits until the file

[2017-04-29 13:23] ericmandel commented on #26
@paruzzz Can you show me the routine you wrote that calls JS9.Load() on the client side? Are you calling it every few seconds? How fast to you want the refresh to happen? How are you synchronizing with the server?

JS9.Load is asynchronous, so you may be running into unexpected race conditions. Also, you have to close the image before calling JS9.Load() or else it will not actually perform the loa

[2017-05-01 09:23] paruzzz commented on #26
//init() is the on load function.

function init()
{
               JS9.Load('VIC/vic.fits',{colormap:"grey", zoom:"to fit",
display:"JS9"});
               JS9.Load('WFS/wfs.fits',{colormap:"grey", zoom:"to fit",
display:"myJS9", scale:"histeq"});
}
function wfs_loop()
{
JS9.CloseImage({display:'myJS9'});
//console.log("loading WFS new image: ", wfsimages[wfsimageIndex]);
JS9.Load('WFS/wfs.fits',

[2017-05-01 20:32] ericmandel commented on #26
@paruzzz  I suspect that the JS9.Close() call is interacting badly with the asynchronous JS9.Load() call. If JS9.Load() takes more than .4 seconds, the next JS9.Close() call will happen before JS9.Load() completes, and this will break the close/display  cycle.

I've written some test code that does work properly (with one big caveat, see below). It uses XHR to retrieve the new data as a blob and t

[2017-08-11 01:05] ericmandel commented on #26
@paruzzz Is there anything I can do to help you? Should we close this issue?

[2017-08-11 05:35] paruzzz commented on #26
Thank you Eric. We can close this issue.

On Aug 11, 2017 3:05 AM, "Eric Mandel" <notifications@github.com> wrote:

[2017-08-11 11:33] #26 closed

[2017-10-25 15:24] samverstocken opened #27 "Zscale public API setting"
Is there a function to enable one of the zscale options (z1/z2 or (z1/data max) from the public API?

[2017-10-25 16:09] ericmandel commented on #27
Hmmm … this should be supported in JS9.SetScale() but it looks like I just forgot. I'll add it in the next few days, but as a work-around, you can do this:
[code]

[2017-10-25 18:11] ericmandel commented on #27
Never mind the above work-around, I added "zmax" and "zscale" to JS9.SetScale:
[code]
It's been uploaded into GitHub, so let me know if you have problems.

[2017-10-27 13:44] samverstocken commented on #27
Thanks, that seems to work!

[2017-10-27 13:44] #27 closed

[2017-12-10 15:28] DougBurke opened #29 "What PNG library is needed for fits2png support?"
I just tried building within a docker container, so it doesn't have many packages installed, and saw this from the `configure` step:

[code]

What library (or libraries) does it need here? Did I miss it in the documentation?

[2017-12-10 15:38] ericmandel commented on #29
@DougBurke You don't need to build fits2png, its deprecated. I'll add a note to that configure output line to make that fact more clear.

[2017-12-10 17:06] DougBurke commented on #29
Ta. Doug

On Sun, Dec 10, 2017 at 10:38 AM Eric Mandel <notifications@github.com>
wrote:

[2017-12-10 17:15] ericmandel commented on #29
All set and updated in GitHub.

[2017-12-10 17:15] #29 closed

[2017-12-10 18:59] DougBurke opened #30 "What's the best approach to js9 in a Jupyter notebook?"
@ericmandel is https://github.com/gijzelaerr/js9notebook the best way to get js9 in a Jupyter notebook, or does pyjs9 replace it? Ta.

[2017-12-10 19:34] ericmandel commented on #30
I'm not sure about the state the effort you mention ...  the most active Jupyter project I know about (based on back and forth communication) was done by @mgckind for DES:

https://github.com/mgckind/jjs9

so perhaps that would be a good starting point.

I have not spent much time with Jupyter this past year, but using the allinone files should still work:
[code]
and if there is a problem, obvious

[2017-12-10 21:18] DougBurke commented on #29
My build now says the following which does tell me not to bother about this, but the `good` is a bit surprising ;-)

[code]

[2017-12-10 21:28] ericmandel commented on #29
OK ... I remove the word "good", I guess it didn't re-assure you quite as I thought it would!

[2017-12-11 01:08] ericmandel commented on #30
No, that's a very important file! What technique are you using? allinone? I would have thought the allinone technique would find that file properly  ... though, as I said, I haven't tried Jupyter in a long while.

[2017-12-11 01:12] ericmandel commented on #30
Oh .... I tried my old Jupyter setup and got the same error. Let me look into it ...

[2017-12-11 01:18] mgckind commented on #30
Hi @DougBurke and @ericmandel , yes I wrote that wrapper some time ago, but recent developments from Jupyter an Jupyter lab aren't compatible anymore (plus some extra features in js9). I tried a couple of months ago again but didn't spend too much time with it. We do want to revisit this issue next January/February.

[2017-12-11 01:23] ericmandel commented on #30
OK, so for now, I should get the basic technique (see above) working. @DougBurke the problem you report is that your browser is trying to load the WebAssembly version and I bet that does not yet work in Jupyter. So I need to ensure that the non-wasm code is loaded. I'll work on that a bit and get back to you.

[2017-12-11 02:29] ericmandel commented on #30
@DougBurke and @mgckind  I fixed the Jupyter problem (sigh ... once again, Jupyter HTML syntax was not behaving in a standard browser-like way). You should now be able to use the simple-minded construct:
[code]
Since Jupyter does not quite behave in a standard fashion, there may be some problems with specific functions, which have to be investigated on a case-by-case basis. Let me know when you fi

[2017-12-11 02:59] DougBurke commented on #30
Thanks. I've run out of free time for this project at the moment (what with
the start of the work week). I'll let you know when I get time to try your
new code out.

On Sun, Dec 10, 2017, 21:29 Eric Mandel <notifications@github.com> wrote:

[2017-12-11 12:51] DougBurke commented on #30
@ericmandel I did have time to re-try this morning, and I no-longer see the error message pop up.

[2017-12-11 13:16] ericmandel commented on #30
And, better yet, you should be able to drag and drop an image onto the display ...

[2017-12-16 13:10] kglotfelty opened #31 "problem using CGI helper on non-privileged port"
I ran in a snag when I was trying to setup a local, server-side analysis site.  For testing, I'm using the python built-in  web server (CGI enabled)

[code]

the problem is that it runs on the non-privileged port 8000 (variable).  This causes problems because the URL that js9 creates for the `helperCGI` doesn't include the port number

https://github.com/ericmandel/js9/blob/4da1d70af0ea4bc3d2eec6a

[2017-12-16 15:28] ericmandel commented on #31
@kglotfelty That's a bug, now fixed and updated in GitHub:

<img width="1272" alt="screen shot 2017-12-16 at 10 18 44 am" src="https://user-images.githubusercontent.com/3028875/34071859-45bbb97e-e24b-11e7-8e69-047c6383706c.png">

That said, I'm pretty sure you don't want to use CGI, even for testing. It doesn't support the pyjs9 scripting interface, for starters ...

[2017-12-18 14:08] kglotfelty commented on #31
Thanks for the quick fix.  Confirmed it works with my test setup.

[2017-12-18 14:10] ericmandel commented on #31
OK, great, I'll close this and look forward to the next problem report ...

[2017-12-18 14:10] #31 closed

[2018-01-19 18:23] kglotfelty opened #32 "typo publicapi.html"
https://github.com/ericmandel/js9/blob/6da890f3eae8709033ba198f08f9bfbf262562f4/help/publicapi.html#L522

typo in the closing `</b>` (makes the rest of the doc render in bold)

[2018-01-19 18:59] ericmandel commented on #32
Fixed, thanks! There were actually two places where I did that ...

[2018-01-19 18:59] #32 closed

[2018-02-22 14:52] nicolaschotard opened #35 "JS9 ERROR: could not preload image(s): ....."
@ericmandel Is there something to set up before making `js9preload.html` works and actually `Preload` the different files (`fits` and `http`) that should be displayed?

For some reason, I cannot manage to make it work and get this `JS9 ERROR: could not preload image(s):` for all images (+ `please check the url/pathname` for local images). I've also tried on a local image taken on my computer but i

[2018-02-22 15:15] ericmandel commented on #35
@nicolaschotard For URLs outside your web page domain, you need to be running the JS9 helper with proxy load enabled. Otherwise the web's same-origin policy will not let you display the image . With proxy load enabled, the JS9 helper will retrieve the external URL into a temp directory, so that it can now load the image from the same origin. (I see that the Preload documentation is not complete ..

[2018-02-22 15:27] nicolaschotard commented on #35
Thanks for your quick answer @ericmandel I've just realized that pre-loading `js9Readme.png`, which is in the same directory, is working, but loading an image located in the parent directory is not. Doing that, I get the following error `could not read off-screen image data [same-origin policy violation?]`. Didn't you say that this should work for local file?

[2018-02-22 15:37] ericmandel commented on #35
Yes, this should all work, but if you are getting a same-origin error, then there is a mismatch somewhere. Are you loading your web page via a web server (localhost:// or something similar) or using the file:// URI? How are you specifying the pathname of the file you want to load?

[2018-02-22 15:57] nicolaschotard commented on #35
I'm using the file `file:///home/path/js9-2.0.2/js9preload_test.html`, and here is the content of mu `html` test file

[code]

[2018-02-22 16:12] ericmandel commented on #35
Hmmm ... I used your code successfully on my Mac and on my Linux box with FF and Chrome (with correct switches). But while I was testing, FF asked me to "refresh" and after I did that (FF 52.5.1), I get the error you are seeing. So something has changed with Linux FF and the file:// URI that I need to investigate.

[2018-02-22 16:21] nicolaschotard commented on #35
I'm actually relieved that you can reproduced this error. What is exactly the difference between importing a file using the `Preload` function and doing it from the Menu with `File -> open local file...`?

[2018-02-22 16:31] ericmandel commented on #35
File -> open local uses the browser's ability to read a local file into a chunk of data called a "Blob" (this is the same functionality as drag and drop, which also works), which is then processed by JS9.  There is no same origin issue in this case. The Load and Preload routines use the standard XHR call to retrieve the file (so same origin policy does apply) and then processes the data that is re

[2018-02-22 16:35] nicolaschotard commented on #35
Dealing with several web browsers if usually a mess. Thanks a lot for looking into that.

[2018-02-22 16:47] ericmandel commented on #35
By the way, the problem we are seeing seems to be be a restriction on loading files that are not "underneath" the web page, when using the file:/ URI. In the Javascript console I cannot do this:
[code]
but I can do this:
[code]
i.e., where the FITS file is in a directory "underneath" the web page.

How would that affect your work? A public web server will not have this particular problem. When usi

[2018-02-22 17:05] nicolaschotard commented on #35
My goal was to include a simple `js9` windows into an app that I'm developing, and which should be able to run locally (actually on a server) and work on images located at different places on this server. I was going for a page listing the images, and clickable in order to show their content in `js9`. I will see what i can do to go around this problem. Thanks for your help.

[2018-02-22 17:23] ericmandel commented on #35
If your app is running on a web server, with users visiting by loading a http:// or https:// web page, you won't have this particular problem. But you will have the problem of whether the web server itself allows access to files outside the web page domain. For security reasons, this is not a good idea: if you allow broad access to files outside the web domain, then users can retrieve anything.

O

[2018-02-23 07:10] nicolaschotard commented on #35
Indeed, creating a hard link inside the web domain pointing to the file I want to load is working. And it seems safe. I will go with that solution. Tanks for your help!

[2018-02-23 13:07] ericmandel commented on #35
Thinking more about this, I suspect FF is restricting access to files using the file:// URI to mimic the restrictions you will face using the http(s):// URI on a real web server: you can't beak out of the web page domain in either case. It's good for us to work out the techniques required to deal with these restrictions as we use file://, leading to fewer surprises when going public.

I'll close t

[2018-02-23 13:07] #35 closed

[2018-03-09 10:58] nicolaschotard opened #36 "Side by side images in the same JS9 display (mosaic mode)"
@ericmandel Is it possible to put 2 images side by side on one single JS9 display?

The idea would be to automatically (or optionally) do that for multi-extension fits files in order to create a mosaic image that can automatically display the full focal plane (using WCS info), as it can be done with ds9.

Thanks in advance for any advice on how to achieve that!

[2018-03-09 13:12] ericmandel commented on #36
@nicolaschotard You certainly can have multiple JS9 display elements in a single web page as shown in https://js9.si.edu/js9/js9multi.html. You would just lay out the JS9 display elements according to your mosaic pattern and then load each image into the appropriate element. You can even have a supermenu control all of the elements, or each one individually, as shown in https://js9.si.edu/js9/js9s

[2018-03-09 14:10] nicolaschotard commented on #36
Thanks for your quick answer @ericmandel I understand your solution of organizing all the individual JS9 displays next to each other in an order that corresponds to the real disposition of the images on the focal plane. I was more thinking about having a unique display containing all the images.

I will think about a way to do that, but there is nothing obvious to me on this side.

[2018-03-09 14:39] ericmandel commented on #36
@nicolaschotard Can you explain the advantage of having a single display containing multiple images over multiple displays with a single image each, all controlled by the supermenu?

Aside from that question, I think a mosaic plugin can be implemented like the blending plugin (which also composes the display from multiple images, but places them on top of one another). In this scenario, you load a

[2018-03-09 14:48] nicolaschotard commented on #36
I was think of one single display containing all images to be able to zoom in or out over the entire field, for example, as we do in ds9. Is the the super menu you are talking about able to take care of things like that?

I do not know how ds9 is exactly working, but it definitely uses the WCS info contained in the header to do that. The command line I usually use is
[code]

[2018-03-09 15:07] ericmandel commented on #36
Ah, yes ... now I see what you want to do. Right now, the super menu would not handle zoom and pan across all images, as you want, but that might (or might not!) be easy to add. So I am not yet sure special mosaic code would be needed.

Let me think a bit about how best to support a mosaic of images in JS9. If you have test files, that might be helpful. Otherwise, I'm sure Bill has some for DS9.

[2018-03-09 15:27] nicolaschotard commented on #36
Here is one file that you can download. This is a CFHT image.

http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/data/pub/CFHT/1022360p?runid=tqz472jgnzim7r6l

[2018-03-09 15:53] ericmandel commented on #36
Got it. Very interesting. Give me a few days to experiment and think ...

[2018-03-09 15:58] nicolaschotard commented on #36
Thanks a lot for all this effort! And let me know if you need any input from me, or if you need someone to do some test.

[2018-03-09 16:09] ericmandel commented on #36
Thanks, I'll rely on you to evaluate that things are working and are acceptable. This probably is not a quick fix, so let's get it started. (And anyway, I can't figure out a satisfactory way to label the axes on the coordinate grid, happy to put it off!)

[2018-04-25 17:27] ericmandel commented on #36
@nicolaschotard I've made some experiments to investigate how best to do mosaics in JS9. Unlike DS9, we have to generate a mosaic of the underlying raw data as well as the display data, so that user plugins continue to work. Stitching together the mosaic images manually (i.e. placing each image pixel from each mosaic in a super-mosaic array) got to be a mess, but using IPAC's Montage programs (som

[2018-05-29 16:57] ericmandel commented on #36
@nicolaschotard I've implemented mosaic support along the lines described above (though I have not implemented flip support). As before, loading the test CFHT file will display the first extension and allow display of the others through the View -> Extensions plugin. But then choose:

File -> create mosaic ... -> the current image

and a binned (to fit into memory) mosaic will be generated. For th

[2018-06-13 16:19] ericmandel commented on #36
@nicolaschotard I'll close this issue, but feel free to open another one if you find a problem with the current implementation.

[2018-06-13 16:19] #36 closed

[2018-07-03 10:01] o-smirnov commented on #30
This currently doesn't work for me.  The cell produces no output. The JS console shows:

[code]

But maybe that's an issue on your end, because it works if I change the URLs to point to my local installation, i.e.:

[code]

And I can drag-and-drop and work with local FITS files. Two issues though:

* trying to load a server-side file with ``JS9.Load("/files/path.fits")`` fails with a pop-up saying

[2018-07-03 13:05] ericmandel commented on #30
@o-smirnov Sigh ... the main web site seems to work for me, see below. I'll (try to) update my  reltively old Jupyter in miniconda. Perhaps this is the problem to which @mgckind was referring when he said that JS9 broke with the updated Jupyter.

<img width="827" alt="screen shot 2018-07-03 at 8 54 20 am" src="https://user-images.githubusercontent.com/3028875/42221076-d960da20-7e9e-11e8-8224-912a7

[2018-07-03 15:36] o-smirnov commented on #30
Sorry, scratch that. The ``js9-allinone.js`` invocation **does not** work on my local installation either (turns out I had another Jupyter cell that **did** have the necessary tags in it, and this is what made things work...) What does work for me is the following cell:

[code]

...in that a display at least is created. This is orthogonal (I think) to the helper issues we've been discussing in htt

[2018-07-04 16:06] o-smirnov opened #38 "can js9Helper be made to print the port it's binding to?"
Under the Jupyter scenario, I'm going to need to run js9Helper.js on a per-user basis. This means somehow allocating a unique port for it to listen on. I can set ``helperPort`` to 0 which, presumably, causes it to pick a random unused port, but then I have no way of finding out what port was picked. Could you please add a print statement with the port number so that I can parse this out?

[2018-07-04 16:11] ericmandel commented on #38
Why do you have to run the helper on a per-user basis? The JS9 helper handles multiple users. Everyone initially contacts the helper via the same port (def: 2718), but then makes their own private connection for the actual messaging.

[2018-07-04 16:23] o-smirnov commented on #38
Well, I'm trying to set up an install-free environment for connecting to remote servers that don't necessarily have a webserver, or a central install of JS9...so  the user ssh's in, and a script launches a Jupyter notebook, a SimpleHTTPServer (to work around the current Tornado problems), and a helper. I can let the former two pick unused ports and parse it out from their output, but I can't curre

[2018-07-04 16:55] ericmandel commented on #38
OK, I added code to the helper to output its listening parameters, e.g.:
[code]
I'll let you know when its updated into GitHub, I'm still trying to ensure that every Jupyter-related change is stable.

[2018-07-05 08:07] o-smirnov opened #39 "configure script not finding cfitsio on Ubuntu"
I've got the standard ``libcfitsio3-dev`` Ubuntu package installed, but I couldn't get ``configure`` to recognize it. Tried ``--with-cfitsio=/usr`` and the like, but it wasn't finding it.

I was forced to build a second copy of cfitsio from scratch, and install it to ``/usr/local``, the config script could then find it there.

This is probably due to the directory layout in Debian/Ubuntu, see belo

[2018-07-05 12:43] ericmandel commented on #39
Right, I look manually in places I know about underneath the specified directory, not knowing any easy way to do otherwise.

Try the attached version of configure (renamed to configure.txt to make GitHub happy), which should work, in your case, with:
[code]
If it works, I'll update it into GitHub.

[configure.txt](https://github.com/ericmandel/js9/files/2166565/configure.txt)

[2018-07-05 12:50] o-smirnov commented on #39
No joy:
[code]

[2018-07-05 12:52] ericmandel commented on #39
Right, I just edited my comment to say 'wait', as I see I have a problem. Give me a minute, I need to figure out how to test this on my Mac.

[2018-07-05 12:57] o-smirnov commented on #39
If you want a login on an Ubuntu box here for testing, I'm happy to provide....

[2018-07-05 13:21] ericmandel commented on #39
Thanks, let's try this new configure and, if it fails, I'll accept your offer.

[configure.txt](https://github.com/ericmandel/js9/files/2166713/configure.txt)

[2018-07-05 13:28] o-smirnov commented on #39
That works!

[2018-07-05 13:34] ericmandel commented on #39
Great, it works here too, and the change is now updated into GitHub ...

[2018-07-06 11:55] o-smirnov commented on #38
OK, that didn't really help -- if I give it port 0, it reports back port 0. What I really want is to force it to select an unused port at random. But googling around, it doesn't look to be that trivial, at least with socket.io:

https://stackoverflow.com/questions/44896156/use-an-ephemeral-port-with-socket-io-server

Unless you're willing to add this library: https://github.com/indexzero/node-port

[2018-07-06 12:29] ericmandel commented on #38
[I guess I still don't understand why you can't share a single instance of the js9 helper between users. In the js9Electron (Desktop) code, we check for the existence of a helper and if it does not exist, we start one up. Otherwise we use the running helper. This allows Desktop and browser-based JS9 to run simultaneously. Can you please explain more about this?]

With port-finder, it's unclear how

[2018-07-06 14:56] o-smirnov commented on #38
I'm trying to make a zero-admin, zero-install solution. All the user should need is an ssh connection. But then that user does not have the privileges to start a shared js9helper...

Ah, but that's why I asked you to have js9helper print the chosen port. My startup script could then parse it out, and pass it to the notebook, and the notebook can set it in JS9Prefs.globalOpts (after loading js9pref

[2018-07-06 15:04] ericmandel commented on #38
Ah ... but I don't know that it matters which user starts the shared helper, so long as the PATH is set properly. well ... the top-level directory in which all users' working directories reside would have to be writable by that user, with enough space for all ... perhaps that is the bottleneck.

That said, I think your best bet is to choose a port and communicate that info to helper and client ...

[2018-07-06 15:22] o-smirnov commented on #38
...and r/x access to the other users' directories and files would also be needed, which is not guaranteed at all. Plus, figuring out paths would be a whole new mess. If Alice starts a notebook (and a helper) under ``~alice/foo``, and Bob runs his notebook under ``~bob/bar``, how would Alice's helper even know where to look for Bob's images -- unless Bob's client asks for images by their absolute s

[2018-07-06 15:24] ericmandel commented on #38
Ah, that's all that needs to be said.

[2018-07-09 12:34] o-smirnov opened #40 "request: support averaging in fits2fits, not just binning"
I've realized the "bin" option in fits2fits actually performs as advertised, i.e. sums the pixels in a bin. Would it be possible to add an option to take the mean value instead of a sum?

We usually deal with flux density images, so summing breaks our units...

[2018-07-09 12:39] ericmandel commented on #40
Yes, I can do that (not in one day, though) ... must be nice to have so many photons that you need to take the mean (not the X-ray experience!)

[2018-07-10 19:08] #39 closed

[2018-07-29 13:56] #40 closed

[2018-07-29 13:58] ericmandel commented on #38
The ability to specify a port on the command line has been implemented and is in use, so I believe this issue is solved.

[2018-07-29 13:58] #38 closed

[2018-07-31 11:50] o-smirnov opened #41 "would be nice to have a "hard fail" mode for the helper"
Given my rather fiddly attempts to get js9helper going in various scenarios, I'm frequently being tripped up by the "silent fail" behaviour of JS9 when it can't connect to the helper.

At present it quietly falls back to downloading full images via HTTP. So everything continues to work, albeit more slowly and with more browser memory use. I actually have to go to the JS console to figure out if th

[2018-07-31 12:07] ericmandel commented on #41
I assume you want an error in two cases:

1. if the helper does not connect
2. if the helper connects, but fits2fits find that the js9helper program is not available

Can you think of any other cases?

[2018-07-31 13:34] ericmandel commented on #41
JS9.globalOpts.requireHelper support is updated in GitHub (default is false).

[2018-08-01 09:04] o-smirnov commented on #41
Thanks, can confirm this option works.

[2018-08-01 09:04] #41 closed

[2018-08-12 12:41] o-smirnov opened #42 "need a "hard fail" mode for fits2fits"
Related to #41: I keep finding novel ways to make the fits2fits functionality silently fail and fall back to downloading full images. While I can see the value of this from a user's point of view, for a developer this behaviour can be very confusing, since it can only really be detected in the network console. Also, programmatically, if my code is e.g. trying to load a rebinned image of a certain

[2018-08-12 14:30] ericmandel commented on #42
I've added a JS9.globalOpts.requireFits2Fits property which will throw an error on all of the fits2fits conditions (that I know about). You should continue to set JS9.globalOpts.requireHelper (which will fail if the helper is wanted but not available) and also use requireFits2Fits for the fits2fits failures. I hope that's all we need.

I'll look into JS9.Load ... I would have thought try{} catch{}

[2018-08-12 15:07] o-smirnov commented on #42
Ah of course, the error dialog only pops up because it's an uncaught exception, right? So indeed I can catch exceptions in the partners code, I don't need error codes...

[2018-08-12 15:10] o-smirnov opened #43 "JS9.Load() options to set the scale"
https://js9.si.edu/js9/help/publicapi.html#JS9.Load suggests I can set the scale type via the options argument to Load() -- are there similar options for the clipping min/max? Is there a full list of options somewhere?

[2018-08-12 16:03] o-smirnov commented on #42
Thanks, the new property works.

[2018-08-12 16:03] #42 closed

[2018-08-12 16:11] ericmandel commented on #42
No there is an explicit alert() called if JS9.globalOpts.alerts is turned on. So turning it off and doing a try{} should be just what you want ... but it doesn't work. So let me debug this.

[2018-08-12 16:13] ericmandel commented on #43
You have to look at JS9.imageOpts in js9.js.

[2018-08-12 17:25] ericmandel commented on #42
As it turns out, async function are not caught in a try{} statement, so there is no way to catch an error on JS9.Load() as currently implemented. I think the new ES6 promises/async capabilities will deal with this,  but that the conversion is a big project.

[2018-08-13 14:24] o-smirnov opened #44 "missing colorbar labels when clipping set to small values"
I've got a linear scale set, with clipping from -1e-5 to 1e-4 (fairly typical for our kinds of images).

The colorbar labels go missing though:

![image](https://user-images.githubusercontent.com/6470079/44037671-293b6a4c-9f15-11e8-80d0-237870e67c9c.png)

(Things are going rather well, if I'm worrying about such trifles...)

[2018-08-13 14:51] ericmandel commented on #44
Cool, thanks, I can fix that. I could use a test FITS file though, if one is conveniently available. Otherwise, most of the time is spent trying to reproduce the problem ...

[2018-08-13 15:11] ericmandel commented on #43
Hmmm ... you should be able to set scalemin and scalemax in the opts object instead of having to use onload. I'll add that, if possible ...

[2018-08-13 15:36] ericmandel commented on #43
OK, you can now supply scalemin and scalemax to opts object during JS9.Load(). The only nuance is that you must also set scaleclipping to "user", or the values will be ignored (in favor of the default "dataminmax"), e.g.:
[code]

[2018-08-13 16:14] ericmandel commented on #44
Never mind, I took your last FITS file, divided each pixel value by 10000 and see the problem ...

[2018-08-13 19:09] ericmandel commented on #44
This should be fixed now ...

<img width="529" alt="screen shot 2018-08-13 at 3 08 42 pm" src="https://user-images.githubusercontent.com/3028875/44052513-ce01d31e-9f0a-11e8-9dd8-fb49ed96de1a.png">

[2018-08-18 16:30] o-smirnov commented on #44
Works now, thanks.

[2018-08-18 16:30] #44 closed

[2018-08-18 16:34] o-smirnov opened #45 "Option to lock the scale between multiple images"
I've got the partners code working with multiple images now. A very useful use case is to lock the same color/scale across multiple images, then to compare them using blink (or the next/prev image command). Would this be a difficult thing to add to the "Scale" menu? I can also implement an external widget for it in the partners code -- I have a pretty clear idea of how to do it now -- but that wou

[2018-08-18 18:33] ericmandel commented on #45
Are you perhaps thinking about a new public routine like this:
[code]
So you specify one or more sync types and zero or more images or returned id, and onset[type] callbacks ensure that changing one image causes the same to happen on the other images?

That sounds like a pretty good idea. But perhaps you mean something else?

[2018-08-18 19:13] o-smirnov commented on #45
Yeah, a ``JS9.Sync()`` routine like that would be excellent. Currently, I have a lot of fiddly code in the partner display implementation which is trying to achieve the same thing, but if that was a native JS9 capability, things would look a lot cleaner.

Some open questions then:

* What does it mean to pan-sync two images of different sizes? If you pan to a region of the bigger image that is out

[2018-08-18 20:45] o-smirnov opened #46 "Adding too many colormaps breaks the Colors menu"
I've loaded up a whole slew of colormaps programmatically using JS9.AddColormap()... basically trying to have support for all the colormaps defined by matplotlib (which is a few dozen). This works just fine, but now the Colors menu has become unmanageably long. Is there a way to make the added colormaps appear in the "more colormaps..." submenu, instead of the main menu? Or else restrict which col

[2018-08-18 20:50] o-smirnov commented on #45
Probably just out of ignorance... are you suggesting I call ``.append()`` in Javascript on the ``JS9Menus_JS9Menubar`` element to get my custom buttons in place? I could do that, sure. Although at this point it feels like I'm relying on the structure of the internals, rather than on the public API, so I'd be a little hesitant about doing that, since I assume it may be subject to change.

[2018-08-18 20:56] o-smirnov commented on #45
I have not, but that's an excellent pointer, since my next question was about customizing menus...I'll get around to that at some point!

[2018-08-18 21:12] o-smirnov commented on #46
OK, actually what you point out [here](https://github.com/ericmandel/js9/issues/45#issuecomment-414084123) is a solution I think...

[2018-08-18 21:48] ericmandel commented on #46
I've added an optional opts to AddColormap, so that you can avoid adding to the top-level menu:
[code]
will do it. Just goes to show you ... I assumed that if you added a colormap, it would be important enough to add to the top!

[2018-08-18 21:51] ericmandel commented on #45
Yeah ... this is a problem that I don't know how to handle. I mean, I can't really parameterize everything, but that does leave you in the uncomfortable position of going outside the API.

I'm not sure what to say, and would welcome your opinion about how to handle things better.

[2018-08-19 16:43] o-smirnov commented on #45
That's exactly what I'm thinking about...

That's all right -- maybe if you just gradually promote these things to the documentation ("the DIV elements are named as follows..."), then it become part of the API effectively, and disincentivizes you from renaming them in the future...

[2018-08-19 18:50] ericmandel commented on #45
OK, got it, I just need to finish a scaling plugin while I mull over JS9.Sync() ...

Good idea and  thanks for using the word "gradually". But also ha! when I looked at the actual button id's I thought "hmmm ... there should be a hyphen between the menu name and the display class id,   and shouldn't the display class come first?" ... so there will have to be some changes to make the id's consisten

[2018-08-21 08:49] o-smirnov opened #47 "Can I disable zoom/pan on an image completely?"
This would be very useful for the partners code preview image,

[2018-08-28 13:37] ericmandel commented on #47
I'll implement some sort of disable capability for the same set of features/methods/capabilities we want to sync: "colormap", "pan", "scale", "wcssys", "wcsunits", "zoom".

But what is the the name of the routine? Disable? DisableMethod? DisableCapability?

[2018-08-28 13:51] o-smirnov commented on #47
DisableControls and SyncControls perhaps?

[2018-08-28 14:05] ericmandel commented on #47
Ummm ... it's funny: along with regions, these are the fundamental capabilities of all our astronomical image display programs stretching back to SAOimage in the 1980's. But what are they called as a class? I'll bet it never came up until today! Existential crisis coming? I'll try a thesaurus first.

[2018-08-28 15:11] o-smirnov commented on #47
Render controls?

[2018-08-28 15:28] ericmandel commented on #47
I'm thinking about a routine that allows one to configure core components:
[code]
It will be important to support core configuration in the prefs file, but I think that just requires some processing of the prefs object.

[2018-08-28 18:53] ericmandel commented on #47
Sigh, never mind, that syntax got too complicated. I added the ability to disable core functions more simply using JS9.SetParam (which presumably you will use to disable the preview image):
[code]
... of course you can disable functions at startup in your prefs file using imageOpts:
[code]

[2018-09-03 07:51] o-smirnov commented on #47
Perfect, that'll do nicely. Thanks!

[2018-09-03 13:46] #47 closed

[2018-09-03 13:47] ericmandel commented on #46
I'll close this, but if something is not right, let me know ...

[2018-09-03 13:47] #46 closed

[2018-09-03 13:48] ericmandel commented on #43
I'll close this, but if something is not right, let me know ...

[2018-09-03 13:48] #43 closed

[2018-09-03 14:10] ericmandel commented on #45
Experiment 2 with the sync plugin is here:

https://gist.github.com/ericmandel/0084f652cefe3269067bde1a79a16818

There are a number of vexing problems:
-- I haven't looked at the panning issues yet, probably will require changes to SetPan itself.
-- It's not clear how to sync regions, I might have to tag them specially (but not export the sync tags), but what to do with already-existing regions?
-

[2018-09-04 10:56] o-smirnov commented on #45
Thanks! I'm about to hit the road/take leave/etc., so it'll take me a while to absorb these changes. So I have left you to your long weekend in peace...

But in a couple of weeks or so, I should be bothering you again.

I agree, that sounds like a can of worms. I don't *really* need it if you don't?

What I've found most useful is locking the scales and colormaps of all images (or a subset of imag

[2018-09-04 12:01] ericmandel commented on #45
All good info, thanks, I'll keep thinking about this.

And I need to talk to some people here about how they might use this functionality ... once they return from IAU2018. A more immediate concern will be with panning in general, since JS9 currently (and deliberately) protects you from panning off the image. That constraint needs to be relaxed in general, or via parameter-driven configuration?

H

[2018-09-17 00:37] ericmandel commented on #45
In case you are back from traveling ... I have implemented image sync, a demo is at: https://js9.si.edu/js9/js9sync.html

The File menu has sync and unsync options, but you'll probably just use the JS9.SyncImages() routine to set up the partners.

It turns out that region sync'ing is going to be very useful in our X-ray neck of the woods ... and also was the hardest part to implement.

Caveat: I h

[2018-09-19 15:47] Stuermer opened #48 "GetLoadStatus bug ?"
Hi,
when using the GetLoadStatus function, I get a JavaScript error 'id.split is not a function'.
(Line 17864 in js9.js)
After a bit of debugging it seems that
	    id0 = id.id.split('/').reverse()[0];
fixes it.
However, I've no experience in JavaScript, so I didn't create a PR etc. since I'm not sure if this is the 'correct' fix for the problem.

p.s. this happened after I updated from js9 versio

[2018-09-19 16:17] ericmandel commented on #48
What arg you passing to GetLoadStatus()? Maybe the image handle? The call wants the image id (text string):

<img width="382" alt="screen shot 2018-09-19 at 12 13 48 pm" src="https://user-images.githubusercontent.com/3028875/45766425-89f20c80-bc05-11e8-8b8e-292d3d97b0d5.png">

I see there was a bug fix made in November, and perhaps that broke how you were calling GetLoadStatus()? If so, I should m

[2018-09-19 16:50] Stuermer commented on #48
I'm sorry, you're right, I was not passing a string.
I'm using JS9 within a Wt project (https://www.webtoolkit.eu/wt) and I made an error when calling JavaScript commands from within C++.
The full JavaScript code I'm executing looked like this:
"var done = JS9.GetLoadStatus(o6rjdvv_JS9);var a1=done;Wt.emit('o6rjdvv','doneSignal',done);"
Changing it to
"var done = JS9.GetLoadStatus('o6rjdvv_JS9');v

[2018-09-19 16:58] ericmandel commented on #48
Oh, I see, good that it was easily fixed! I'll look into why the behavior changed with invalid input ... maybe the return needs to be more forgiving.

Since everything is working as you want, I'll close this issue, regardless of whether I make a change ...

[2018-09-19 16:58] #48 closed

[2018-09-19 17:12] Stuermer opened #49 "Region positions with respect to Image"
When zooming into an image, using the mouse wheel, the region positions with respect to the pixels seem to change. I made a screencast showing the issue:

![screencast](https://user-images.githubusercontent.com/6728233/45769330-e9035180-bc04-11e8-8b9a-5111420b581f.gif)
Since it sometimes 'jumps' it almost looks like a rounding error to me.

[2018-09-19 17:14] ericmandel commented on #49
Weird, I'll look into it ... probably not a two-minute fix!

[2018-09-25 16:22] Stuermer commented on #49
Thank you very much for the quick fix.
I confirm both, the fix for the original issue and the crosshair artifact at certain zoom levels.

[2018-09-25 16:22] #49 closed

[2018-09-26 15:04] ericmandel commented on #49
FYI, the crosshair artifact problem should be fixed in Github ...

[2018-10-05 12:54] o-smirnov commented on #45
Excellent, thanks! I got back from one trip, only to find myself neck-deep in a complete office relocation... so all real work has been on the back burner. I do hope to spend some time next week setting up a pipeline visualization system based on what we've done so far, so you'll surely be hearing from me then.

[2018-10-05 13:01] ericmandel commented on #45
Welcome back! Development work (and bug reports) having quieted down, I plan to release v2.2 in the next week or so ... depending on what my XMM-Newton colleagues uncover in the meantime. But we can pick things up via continuous improvements in GitHub, as usual.

[2018-10-26 12:32] cylammarco opened #50 "js9-allinone.js looks for port 2718"
The js9-allinone.js is trying to access port 2718 which is the default port for JS9Helper. An error message is outputted to the console:

Should the js9-allinone.js be completely stand-alone?

[2018-10-26 12:41] ericmandel commented on #50
Yes, by default, js9-standalone.js should not be looking at a port. I'll fix that very soon.

As a work-around, if you load js9prefs.js, you should be able to set the helperType to "none":

[code]

[2018-10-30 13:57] ericmandel commented on #50
This is fixed and updated in GitHub. Thanks for pointing it out.

[2018-10-30 13:57] #50 closed

[2018-12-04 12:58] cylammarco opened #51 "Is it possible to save full size image from blending or RGB mode?"
I am trying to make a button for an outreach webpage, targetting primary and secondary school, to save PNG and JPG file after making false-color images. The teachers' opinion is that having a menu bar is too confusing to the students, so I was trying to add a button for them to save the false colour image with
`JS9.displays[0].image.saveIMG()`
but the image size is defined with the display size. I

[2018-12-04 13:22] ericmandel commented on #51
I think its great that you are simplifying the interface for students!

By "higher resolution", do you mean saving RGB pixels outside the display in the PNG (or JPG) file? If so, I don't think you can do that: the only RGB pixels we generate are those being displayed. You can see this here, where the image data is 2048x2048, but the RGB image size is smaller to match the display size:

<img width=

[2018-12-05 14:49] cylammarco commented on #51
Thanks!

Yes, that is what I meant. I didn't think about the problem with speed. That makes sense.

To go round this, (1) I am copying the image and the image parameters to a hidden JS9 display at the required width and height. (2) A jpg/png is then saved from that background display; finally, (3) call the `JS9.CloseDisplay()` to clear the background display.

I'm now trying to execute (1), (2) an

[2018-12-05 15:07] ericmandel commented on #51
So are you doing a deep clone of the image object, changing the display property to point to the new display? If haven't thought about this much, but it might work.

One place you will have trouble is in the asynchronous nature of the save routine. You will have to set a timeout before you do the close, or else you can run into a race condition. If necessary, I can add a callback capability to the

[2018-12-10 11:54] cylammarco commented on #51
Yes, I would like to clone the image object. I am simply loading the same image into both the working and the background hidden displays. It is slow, but it works for now... There may not be a broad use case, but if there is a `copyToDisplay` function like the `JS9.Image.prototype.moveToDisplay`, it would help. I am likely to look into that in the future if this function is too specific for my cas

[2018-12-11 13:09] ericmandel commented on #51
I'm a little hesitant about this function, because it seems to bypass the guard-rails we try to put in place when dealing browser memory limits. If the original image is very large (yesterday we were considering our options with a 20k x 20k FITS image), you'll likely blow up when you try to create a full size png/jpg. But let me think about this more, while you play with your current implementatio

[2019-01-04 20:48] o-smirnov opened #53 "js9Helper non-local path handling issues"
I got more ambitious and started loading files outside of "."... boom. It is a small bug, and I shall be issuing a PR for it shortly.

[2019-01-04 20:51] ericmandel commented on #53
I'm slowly working myself back into work, so I'll look forward to a bug fix ... the whole issue of paths is a little shaky and I'm open to suggestions ...

[2019-01-05 00:54] #53 closed

[2019-02-20 12:06] cylammarco opened #55 "'JS9.Load()' cannot load FITS file properly but 'File -> open local file' can"
Hi, I am trying to include the `js9-allinone.js` inside an electron application and have encountered a weird behaviour when loading FITS files. If I load a FITS file by using `File -> open local file`, the FITS file can be loaded without any problem. However, if I load the same FITS file with JS9.Load() with an html onclick function, the file cannot be imported properly. I have tried this on [file

[2019-02-20 13:18] ericmandel commented on #55
Hmmm ... I've never tried to do this, but it seems to work using a slighty modified version of js9allinone.html (see below).

Where is __dirname defined in your setup? I had to define it explicitly in the web page this way, since there is no access to the node __dirname on the web page:
[code]
Also, is your button on the web page itself, like the test below? Or are you doing something more sophisi

[2019-02-20 13:38] ericmandel commented on #55
Grasping at straws a bit, you can try turning off the helper in electron and see if that does anything:
[code]

[2019-02-20 14:40] cylammarco commented on #55
(forgot to include the screenshots)

loading with menubar:
<img width="1437" alt="screenshot 2019-02-20 at 14 06 12" src="https://user-images.githubusercontent.com/2545839/53097230-e0e37100-3518-11e9-8785-94e187e6dce7.png">

with JS9.Load():
<img width="1438" alt="screenshot 2019-02-20 at 14 05 27" src="https://user-images.githubusercontent.com/2545839/53097237-e476f800-3518-11e9-9a82-22757e0dd3fd

[2019-02-20 14:51] cylammarco commented on #55
To clearify a little bit more, I am using electron-forge to build the project.

when I compile them into standalone application with the js9-allinone (top) and the full set of js9 (bottom), I get these instead:
<img width="1440" alt="screenshot 2019-02-20 at 14 39 10" src="https://user-images.githubusercontent.com/2545839/53099433-ab8d5200-351d-11e9-89ab-5203de031117.png">
<img width="1438" alt="s

[2019-02-20 15:57] ericmandel commented on #55
This is the key message:
[code]
You need these files to be available:
[code]
even when using js9-allinone.js. There is an asynchronous action during JS9.init() that loads either the asmjs-based astroem.js or the two wasm-based files at startup, depending on the capabilities of the browser. Those files contain the FITS-handling code, so my guess is that you are not picking up the files properly.

[2019-02-20 16:03] ericmandel commented on #55
OK, I have your app downloaded and I am getting the "no FITS module available" error. I also see you have the requisite files available. So let me have a look into this ...

[2019-02-20 16:19] ericmandel commented on #55
After opening ASPIRED, I see this error message:

<img width="1230" alt="screen shot 2019-02-20 at 11 12 56 am" src="https://user-images.githubusercontent.com/3028875/53106230-98b85480-3500-11e9-86f7-56a33d37c518.png">

There are two issues involved:

1. The above-mentioned astroem.js file needs to be in the Resources/app/src directory (its currently in the Resources/app/node_modules/js9/ director

[2019-02-20 16:32] ericmandel commented on #55
I'm no longer sure why the JS9 init is looking for the astroem.js file in Resources/app/src, since it's loading js9.min.js from the node_modules directory. I'll continue playing one my end, but hopefully the above hints will give you some ideas. We've got to get the astroem.js file loaded properly.

[2019-02-20 18:54] ericmandel commented on #55
BTW, your init also needs to find the file:
[code]
as described in https://js9.si.edu/js9/help/webpage.html:
[code]
So I think we only need to figure out how to get your system to find and load these files.

Note that you mght end up wanting to turn of wasm support, if you have problems loading the astroemw.wasm file (a binary web assembly file). You can do this by setting the globalOpts variable

[2019-02-20 19:52] cylammarco commented on #55
Please see if any of these are helpful:

I think this is related to how electron-compile pack the dependencies, if I explicitly include `<script type="text/javascript" src="../node_modules/js9/astroem.js"></script>`, that `astroem.js` not found error message disappears and a new one comes up when loading FITS file, it is related to `handleFITSFile`.

  | abort | @ | js9-allinone.js:21169
-- | -- |

[2019-02-20 21:14] ericmandel commented on #55
The menu's Open passes a File blob directly to the fits handler, while JS9.Load() has performs an XHR retrieve first, which returns a blob, which them gets processed. I am unable to reproduce your success with the menu's Open command, I only get "no FITS module available", which I believe is the correct error.

I can put the files in a location that gets found but then I get the error "but it was

[2019-02-20 21:49] ericmandel commented on #55
I see the problem: JS9 is not figuring out the install directory (where the JS9 files are located). It therefore tries to load astroem.js from the wrong place.

You can explicitly set the install directory location in your js9prefs.js file. Here is what you need to add:
[code]
Thus, my edited js9prefs.js file from your node_modules/js9 directory looks like this:
[code]
Unfortunately, when I change

[2019-02-20 22:19] ericmandel commented on #55
One other problem: you are loading js9-allinone.css, even when you are not loading js9-allinone.js. That is why the install directory cannot be found. For the present, I strongly recommend that you not load the allinone css and js files and, in fact, load the unminified js9.js so that we can see the error stack more clearly.

[2019-02-21 17:38] o-smirnov commented on #30
@ericmandel, just a thumbs-up from our little pipeline workshop in the middle of nowhere:

![screenshot from 2019-02-21 19-26-24](https://user-images.githubusercontent.com/6470079/53189315-e40d5880-360f-11e9-953b-9c760798c23b.png)

People are extremely happy with JS9 functionality. Right @bennahugo?

[2019-02-21 18:26] ericmandel commented on #30
Beautiful! And very gratifying! We did some really good work together last spring ...

Not the middle of nowhere in my book, not in terms of the evolution of astrophysics software ...

[2019-02-21 19:34] ericmandel commented on #30
p.s. @o-smirnov what's that intriguing button on the RHS of the menubar?

[2019-02-22 08:27] o-smirnov commented on #30
Ah that resets the colormap and scale to min/max. I find myself needing that function so frequently, I just added the button in the partner display code. I also needed to add a checkbox to lock the colormap/scale across images.

If you can add these features to the core functionality some day, that'd be great.

[2019-02-22 10:47] cylammarco commented on #55
I tried half a day and I can't get the application to read from the modified file instead of the "cache". I'll keep looking/trying.

I just realised that launching the application with and without (dev) having it packaged give different results... From here on I will only refer to the problems from a compiled electron application.

I have added the install path, and changed all the `min` to full s

[2019-02-22 12:09] ericmandel commented on #55
We are close: you are now loading the FITS support code correctly, so that you can drag/drop a FITS file onto the display:

<img width="703" alt="screen shot 2019-02-22 at 7 03 35 am" src="https://user-images.githubusercontent.com/3028875/53241604-2bc3cc80-3670-11e9-81f0-fe09f653312b.png">

The error message is now coming directly from the CFITSIO library.

My first guess is that the problem now i

[2019-02-22 12:32] ericmandel commented on #30
Can you please post or point to the code you added (to make sure I understand) and I’ll try to do something next week when I return from the road ...

[2019-02-24 23:06] ericmandel commented on #55
Attached is a screenshot of some debugging information regarding the version of ASPIRED you sent me last week:

1. the astroemURL is set to astroem.js, which is the asm version of the cfitsion support
2. the fact that JS9.fits is a non-empty object tells us that the FITS support was loaded successfully
3. but trying to load your example_isis.fits file gives the CFITSIO error: "error reading from F

[2019-02-25 00:46] ericmandel commented on #55
I haven't looked into electron-compile much, but you probably want something like this for FITS files:

<img width="784" alt="screen shot 2019-02-24 at 7 44 42 pm" src="https://user-images.githubusercontent.com/3028875/53308137-c4bf3700-386c-11e9-8aff-60f73b021692.png">

[2019-02-27 17:03] cylammarco commented on #55
I am unable to find a way not to compile some files with electron-forge (which uses electron-compile at some stage for this current distribution).

I think it is indeed related to XHR calls to some "compiled FITS files" because typing this in the console works:

JS9.Load('https://js9.si.edu/js9/fits/casa.fits.gz')

[2019-02-27 17:51] ericmandel commented on #55
Are you saying that you created a .compilerc file as shown above and in this electron-compile doc:
https://github.com/electron-userland/electron-compile#how-can-i-compile-only-some-file-types-but-not-others
but that it was ignored by electron-forge? If that is the case, I would open an issue on the electron-forge Github site.

I see this issue:
https://github.com/electron-userland/electron-forge/i

[2019-03-05 11:15] cylammarco commented on #55
I think it's my lack of understanding of how to use .compilerc file at the moment. I will reply with more details once I have figured it out.

I believe the remaining problems are electron's fs read/write related, not with the JS9. Thank you very much for your help!

[2019-03-05 13:00] ericmandel commented on #55
Yeah, it's a little unclear where .compilerc should be located. Given that it's needed at runtime, I would guess that it has to be in the Electron tree somewhere ... but the docs are unclear to me ...

Let me know how I can help.

[2019-03-19 19:45] DougBurke opened #56 "Does Pyodide (access to Python scientific stack from JS) open up any avenues?"
https://alpha.iodide.io/ is another place where JS9 could appear.

https://github.com/iodide-project/pyodide is related to this but may be useful from within JS9 itself.

[2019-03-19 22:02] ericmandel commented on #56
iodide: yeah, it looks good, and I replied to a recent tweet of theirs ... no response.

pyodide: wouldn't it be cool to run python scripting in the browser, communicating with js9 ... could be an interesting collaborative project ... although on-the-fly loading/merging of wasm files is not there yet, AFAIK. Some day we'll be able to load the wasm modules we want on the fly and make the browser ju

[2019-04-03 09:13] briehanlombaard opened #57 "Displaying 6k x 6k images"
Hi Eric,

We need to be able to display images that are (roughly) up to 6144 x 6144 pixels but I see that JS9 only displays 4096 x 4096 of the image. The documentation on memory limitations mentions changing `JS9.globalOpts.image`. Setting x and y on that doesn't seem to work.

Any ideas what I could be doing wrong?

[2019-04-03 12:25] ericmandel commented on #57
Hi Briehan,
Both of these work for me:
[code]
and
[code]
I assume you are doing the latter. What is the value of JS9.globalOpts.image once JS9 is ready?

Any chance you have an old value set and saved in your preference plugin?

[2019-04-03 13:34] briehanlombaard commented on #57
Sorry Eric, I seem to have declared the override in the wrong place. It works perfectly now.

[2019-04-03 13:34] #57 closed

[2019-04-03 13:41] ericmandel commented on #57
OK, that's better than a bug!

An important side note: be aware that Chrome will eventually start 'aw snap'ing if your images get too large, since it has a per-tab memory limit (2Gb or 4Gb, I forget, but it's real). I'm pretty sure FF does not have the same limit. If you trip over that problem (and depending on what you are trying to do), there is 'large file' support in place to extract and displ

[2019-04-03 14:34] briehanlombaard commented on #57
Thanks. I'll definitely keep any eye out for that.

[2019-05-09 16:47] pepric opened #58 "Spinner when loading image"
Hi,
I have noticed that, when I try to load an image by using File-->open local file , the waiting gif does not appear, while it works well when I use a hyperlink. Is it a very minor bug or I'm wrong in something?

Thanks
G

[2019-05-09 17:02] ericmandel commented on #58
Right, the problem is that system's local file facility retrieves the file as a blob before JS9 code comes into play, and then immediately calls the JS9 blob processing code, without ever relinquishing the CPU so that the event loop can start the spinner ... the URL fetch code does, of course, give up the CPU while the file is being retrieved. A quick look at the open local code warns me that it w

[2019-05-09 17:06] pepric commented on #58
Thank you very much

[2019-05-09 17:14] ericmandel commented on #58
I'll re-open this issue so that I can close it with a definitive answer ...

[2019-05-09 23:17] ericmandel commented on #58
@pepric I had a closer look at this problem and it turns out that there is a nice, obvious place to start the spinner manually. The corrected code should make it into GitHub in the next update.  Thanks for pointing it out!

[2019-05-09 23:17] #58 closed

[2019-06-02 21:49] jzuhone opened #59 "Cannot use the desktop app on macOS with recent versions of Electron"
Current versions of Electron do not install it on macOS in either of the paths `/Applications/Electron.app` or `${HOME}/Applications/Electron.app`, but these are the only paths that the `mkjs9` script appears to recognize.

[2019-06-02 22:00] ericmandel commented on #59
How are you installing? I recently installed 5.0.2 from https://github.com/electron/electron/releases/tag/v5.0.2 without a problem, specifically by downloading this link: https://github.com/electron/electron/releases/download/v5.0.2/electron-v5.0.2-linux-x64.zip

If you are using a different install procedure and the result is installing elsewhere, let me know where and I'll add it to the script .

[2019-06-02 23:34] jzuhone commented on #59
If you install via `npm` it puts it here: `/usr/local/lib/node_modules/electron/dist/Electron.app/
Contents`

This probably assumes that `npm` in installed under `/usr/local/`. Is there a way to detect electron without having to assume specific paths?

[2019-06-02 23:50] ericmandel commented on #59
You can set the environment variable JS9_ELECTRON_APP to:
[code]
and the script should be happy.

Not that I know of ... you're essentially looking for a random file on disk ... I'll look around again, but in the end, I probably end up adding the standard npm directory to the list.

[2019-06-03 00:13] ericmandel commented on #59
OK, I added the npm install location mentioned above to the list checked by Macs, so you should be all set.

[2019-06-03 20:17] d-w-d opened #60 "Please give guidance on integration into a Single Page Application"
SPAs (react, angular, etc.) will, in general, be adding the salient <div class="JS9"> to the DOM **after** initial load of html with the js9 js files. I'm not finding it easy to understand how the scripts in "js9basics.html" operate on the above div. Is it upon some 'DOMContentLoaded' event that the div is transformed from `<div class="JS9"></div>` to `<div class="JS9" id="JS9" style="width: 516px

[2019-06-03 20:47] ericmandel commented on #60
After the DOM is ready, JS9.init() is called and a whole bunch of things happen to get JS9 ready: transforming the JS9 divs of various classes, retrieving and compiling the wasm code, initializing FITS library, etc. When all of this is done and JS9 is really ready for user processing, a "JS9:ready" event is emitted, after which you can do your own processing:
[code]
If you want to add new JS9 disp

[2019-06-05 13:08] dwd-umd commented on #60
Thanks @ericmandel. I've got a basic integration working that makes primary use of `JS9.AddDivs`. However, for now, I've had to use `setTimeout` to give JS9 time to do it's stuff under the hood. This is roughly the JS that gets fired after my SPA adds a div of class="JS9" and id="myId"

[code]

So, I'm having to give it some time (1000ms chosen somewhat arbitrarily) to first do the JS9.addDivs, an

[2019-06-05 13:16] ericmandel commented on #60
Hi @dwd-umd, you can and should use JS9.Preload() instead of JS9.Load(), since JS9.Preload() will check to make sure everything is ready. Also, you can use the onload callback to set the zoom after loading. Here is a slightly bizarre example, copied from https://js9.si.edu/js9/js9debug.html:
[code]

[2019-06-05 15:10] ericmandel commented on #60
A few  random notes:

As shown above you can set the zoom right in the Preload() or Load command by passing a opt object:
[code]
See https://js9.si.edu/js9/help/publicapi.html#JS9.Load for more details.

If you want have other initialization functions to perform and want to wait for JS9 to be ready, you can wait like this:
[code]
Sorry, I thought had documented this better than I have ... I'll fix

[2019-06-12 12:39] #59 closed

[2019-06-26 03:34] dwd-umd commented on #60
Thanks very much Eric for the helpful info. You can see what I've got so far here (click on thumbnail to open JS9 in dialog): [Code](https://github.com/dwd-umd/catch-gui/tree/010-improveJS9Loading) / [Deployment](https://oort.astro.umd.edu/catch-gui/010-improveJS9Loading/)

Here's the essence of what I'm doing at the moment. The JS9 scripts are included in the index.html as standard, so JS9 initia

[2019-06-27 01:10] ericmandel commented on #60
Your web site is gorgeous! I wish I could do something that nice. I only had a quick look in the crush of today's activity, and didn't see the js9 thumbnail. Can you tell me where it is?

JSs9.AddDivs is synchronous but NB: it does not do anything at all to the DOM, it assumes that the DOM elements have already been added. All it does is make sure that newly added JS9 divs are configured properly,

[2019-06-27 01:25] dwd-umd commented on #60
Thanks! Some quick points:

- "[I] didn't see the js9 thumbnail. Can you tell me where it is?" --> If you go to the [link above](https://oort.astro.umd.edu/catch-gui/010-improveJS9Loading/) you light to see a table with three rows. The clickable (placeholder) thumbnails are in the far left column.

- Just to clarify, when I say 'resizing', I mean if you make the browser window smaller then the ele

[2019-06-27 01:30] ericmandel commented on #60
Thanks, I'll look forward to trying it out tomorrow ...

You can dynamically resize the JS9 display by grabbing the handle in the lower right corner and moving it, or by using the View -> resize ... menu option or the JS9.ResizeDisplay() call. Ah, this is different from resizing the browser itself ... I have no idea what happens when you do that, and will be happy to leave it to another time ...

[2019-06-27 01:33] ericmandel commented on #60
Oh, beautiful! I didn't get any of that when I loaded the page this morning, just the really cool background. That's really nice!

[2019-06-27 01:40] ericmandel commented on #60
Now that I've seen that the dialog contains a JS9 display, I understand the question better. When the dialog is destroyed, you're going to want to make sure you call JS9.CloseImage() to free up all the resources associated with that image. But there are no extra processes running that you have to terminate.

[2019-07-18 13:50] dwd-umd commented on #60
Thanks. Also, what option is needed to add to `JS9.globalOpts.userMenuBar ` [here](https://github.com/dwd-umd/catch-gui/blob/master/src/app/dynamic-pages/fits-dialog/userMenuSettings.js) in order that my drop-down 'Scale' menu can have `Data Limits` fields when my JS9 is set to `data-style="Mac"`?

[2019-07-18 14:24] ericmandel commented on #60
You should be able to use "SetScale" as the cmd and "dataminmax", "zscale",  or "zmax" as the  single string argument passed on the args array:
[code]

[2019-07-18 15:10] dwd-umd commented on #60
sorry, I'm not following. My goal is to create something close to this image

<img width="186" alt="Screen Shot 2019-07-18 at 10 53 58 AM" src="https://user-images.githubusercontent.com/45804559/61468803-1b2c2f80-a94c-11e9-987c-c3195fdf3929.png">

... but starting from the customized menubar initiated by html like:

[code]

My understanding of your suggestion was to set my `JS9.globalOpts.userMenu

[2019-07-18 15:56] ericmandel commented on #60
Oh, sorry, I thought you were tying to do this:

<img width="354" alt="Screen Shot 2019-07-18 at 11 26 03 AM" src="https://user-images.githubusercontent.com/3028875/61470403-056c3980-a94f-11e9-9f9e-d1b6b666c6bb.png">

I can look into this, but adding a text input option to the user menus will be difficult, the text input handling doesn't seem to be amenable to the sort of generalization that would

[2019-07-21 14:53] ericmandel commented on #60
@dwd-umd BTW, you can bring up the Scale Controls plugin from your user menu ... which will allow you to set data min and max. Just add something like this:
[code]
See the demo at: https://js9.si.edu/js9/js9menustyles.html

[2019-08-09 14:23] miguelcarcamov opened #61 "Failed to compile JS9 with Vue: error in ./node_modules/js9/js9support.css"
Hi there,

I am trying to use Vue and JS9 to display some radio astronomical images in my web pages. Specifically, I am trying to install JS9 with npm.

After installation, I do
npm run build to compile.

And I get the following error:

[code]

Checking where the indentbg2.gif is, I realized that the path should be ./images/indentbg2.gif instead of just ./indentbg2.gif

Is this a bug? Or I have do

[2019-08-09 14:48] ericmandel commented on #61
@miguelcarcamov We'll have to work together on this, as I don't have much experience with npm, aside from building the JS9 npm package itself in the simplest way possible. And I don't know anything about Vue ...

That said, there is no "run" or "build" directive in the the JS9 package.json file: you should be able to use JS9 immediately out of the box, once its installed. If you do need to build s

[2019-08-09 20:09] miguelcarcamov commented on #61
hi @ericmandel, yes... don't worry it is a pleasure to work with you in this issue.

For now I am trying to give JS9 the URL path to some fits file. However, I realize that in the examples provided, specifically when we use the function preLoad() , it has a parameter called: fits, that is a fits.gz file, and parentfile, which is the real fits file... Why is this?

-> This solution is not currently

[2019-08-09 20:41] ericmandel commented on #61
When JS9 is used inside a web page, the first argument of  JS9.PreLoad() or JS9.Load() is the path of the FITS file __relative to the web page__ from which it is being loaded. For example, on the main JS9 web site, https://js9.si.edu, the Cas-A FITS file is loaded with this call:
[code]
and casa.fits.gz file is located in a subdirectory called fits of the js9 directory, which itself is below the d

[2019-08-13 15:19] JavierArredondo commented on #61
Hi there,

We can work in a new package of JS9 for npm with @miguelcarcamov and publish this in **npm**.
Actually I need this module for 2 projects: ALeRCE and GPUVMEN.

I hope you can explain to me how the tool works in detail for build some...

[2019-08-13 15:25] ericmandel commented on #61
Yes, I can help you with questions. But I also recommend that you look at the demos on the main web page https://js9.si.edu. They explain some of the features of JS9, and you can see the code working in a real web page.

[2019-08-13 15:36] miguelcarcamov commented on #61
@JavierArredondo maybe you can start explaining what is the problem that we are currently having trying to connect js9 to the gpuvmem web page.

[2019-08-13 15:37] ericmandel commented on #61
please include JS9 messages you see in the JavaScript console, if any ...

[2019-08-13 15:45] miguelcarcamov commented on #61
Do you have a Slack group for JS9 where it could be easier to contact you and show you the errors and the messages?

[2019-08-13 15:47] ericmandel commented on #61
No, sorry, but we can do it via email eric@cfa.harvard.edu, which might be easier to pass files ...

[2019-08-13 16:42] ericmandel commented on #61
Can I access the website myself?

[2019-08-28 22:42] miguelcarcamov commented on #61
We are currently trying to load or preload images using CORS, it is possible to preload or load images from dropbox, since we have not control of the js9 configuration on the server side?

[2019-08-28 22:59] ericmandel commented on #61
@miguelcarcamov Yes, JS9.Load() should be able to load CORS files directly, since there will be no problem with same-origin policy.  There actually is a menu option in the File menu that allows you to enter a Dropbox URL and it should load it properly. I haven't tried this lately, so let me know if there is a problem and I will fix it.

But ... you also should look at the JavaScript code in the Ru

[2019-09-30 09:24] andreatramacere opened #62 "CORS policy error with a local file"
I am getting CORS policy error when working on a naive example using mac os 10.12.6. This happens with all the browsers.

[code]

[2019-09-30 12:33] ericmandel commented on #62
Yes, CORS prevents you from accessing an image whose origin is different from the origin of the JavaScript code being used to do the access. You are loading remote JS files and trying to access a local image, which is not permitted.

If you were to clone the JS9 repository:
[code]
and load the JS9 JS and CSS files locally, your test will work, either with a local web server or even with the file:/

[2019-09-30 13:04] andreatramacere commented on #62
Thanks for the reply. But after cloning the repo, and changing the code, I still get the same problem.

[code]

[2019-09-30 13:27] ericmandel commented on #62
Hmmm ... that should work when loading something like:
[code]
into Chrome or FF or Safari (all of which I just tried). Any chance you are using Chrome and did not start it from the command line, adding the --allow-file-access-from-files switch? Chrome treats file:// URIs in a more restricted manner ...

Can you please send a screenshot of the javascript console?

[2019-09-30 13:54] andreatramacere commented on #62
This is the structure of the directory:
[code]
The file I am testing is  test.html, the one I showed int the previous post. The js9 dir  is actually the dir of the git repository. Inside this directory I have placed a directory called data, and into data the file I want to load. I am using Fireforx for testing, and I also add the info that a few weeks ago, I was not having this problem. The screen

[2019-09-30 14:24] ericmandel commented on #62
This page might be relevant, indicating a change in CORS policy starting with FF 68:
https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSRequestNotHttp

On my Mac running 69.0.1, I see the following in about:config, which would lead me to believe I should have the same CORS problem ... but do not:

<img width="720" alt="Screen Shot 2019-09-30 at 10 19 06 AM" src="https://user-images.

[2019-09-30 14:37] andreatramacere commented on #62
Hi,
setting to false it works. Since I am thinking to use js9 in a fronted for webservice, what can I do in order to have it properly working for every  user?
Thanks for your support

[2019-09-30 14:52] ericmandel commented on #62
This should not be an issue for web services, since your users will not be using the file:// URI, they will be using a http:// or https:// URL. It's only an issue for testing, when you want to use the local file:// URI and bypass the use of a real web server. (Still no idea why I can do it and you cannot, but I'll have to figure that out and document it.)

You can test your eventual web-based setu

[2019-09-30 15:52] ericmandel commented on #62
P.S. Is there any chance you are running FF 68 and not FF 69? My FF 69 works and I am wondering if Mozilla changed the behavior in 69 to work again (I can't reproduce the problems in FF 69).

[2019-09-30 18:55] andreatramacere commented on #62
Hi,
again, thanks a lot for your feedback!
1) with python3 I use ```python -m http.server 8000``` and it works fine, even if I place the data directory outside the js9 directory.
2) regarding my Firefox version it is 69.0.1;

So, to summarise, in my server I just have to install locally the js9 library, and accordingly change the src instruction in the head

[2019-09-30 18:56] andreatramacere commented on #62
By the way, with this approach, it works fine also in chrome.

[2019-09-30 19:08] ericmandel commented on #62
Yes, once you are using a server and localhost:// instead of file://, all of the problems regarding the use of file:// go away. Now that I understand that FF no longer works, I'll update the documentation to explain things more carefully. I still can't understand why my FF works ...

You definitely should install the JS9 libraries locally. Otherwise, you'll still have CORS problems. Also, the main

[2019-10-11 23:19] timbeccue opened #64 "Error: Task requires configuration of a temporary work directory"
Hi Eric,

I'm playing around with js9, and trying to get server side analysis working. I have installed js9 in an ubuntu ec2 instance with the following script (run as root):
[code]
My js9prefs.js file (identical to js9Prefs.json) contains the following:
[code]
From the directory /var/www/js9, I can start the node helper with
`node js9Helper.js 1>~/logs/js9node.log 2>&1 &`.

Then I moved the index

[2019-10-11 23:29] ericmandel commented on #64
Hi Tim,

Sorry, sounds like the documentation is not clear enough ... I'll have a look later ...

Tasks such as uploading a FITS file and LoadProxy require a temp directory to exist -- this is the directory into which the FITS file will be loaded or retrieved. In your prefs file, it's specified as ./tmp:
[code]
So, given that configuration, all you need to do is:
[code]
in /var/www/js9 and restart

[2019-10-14 18:08] timbeccue commented on #64
This is very helpful, thanks!

Uploading the image now works when I run the node helper with root privileges. When I run it normally, I get the error `ERROR: can't create page workDir: EACCESS: permission denied, mkdir '/var/www/js9/tmp/db58833a-143a-4215-8503-608ea846855e'`, which could have been my original problem too (unable to automatically create the tmp directory).

Could this be related to

[2019-10-14 18:28] ericmandel commented on #64
I'm pretty sure this is all just ordinary Linux permission problems ... I presume /var/www is owned by root? If so, and if it oughtn't to be changed to be owned by you, perhaps you can manually mkdir /var/www/js9 as root and then chown it to yourself before actually installing, so that everything inside js9 is owned by you. That's almost certainly what you want ...

[2019-10-14 18:32] timbeccue opened #65 "Using js9 on a separate server"
I am trying to integrate a js9 instance with an existing Vue application. The Vue app is served as a static site with cloudfront on AWS (in other words, not a normal server). I would like to include server-side analysis, so I'm hoping to run js9 on a standalone ec2 instance and connect it to the frontend.

At the moment, the server is working just like https://js9.si.edu (i.e. running the provided

[2019-10-14 18:38] timbeccue commented on #64
That seems like it should do the trick. Thanks for the pointers!

[2019-10-14 18:38] #64 closed

[2019-10-14 18:58] ericmandel commented on #65
We'll have to feel our way here since, I probably don't understand the setup but ... there are a bunch of files that JS9 wants to load from the directory in which JS9 is installed, including js9worker.js and astroemw.js. JS9 figures out the install directory by looking at where the js9.css file was loaded from ... but I'll assume you did not move the js9.css file (let me know if you did!)

So ...

[2019-10-15 00:29] ericmandel commented on #65
Hmm ... re-reading your comment, I guess the problem is not relative paths on a single server, but the need to retrieve files from an entirely different server. Is that correct? If so ... and I don't exactly know what will happen ... but it looks like you just might be able to specify a URL for the globalOpts.installDir property. But more likely, I'll have to make some changes to enable retrieval

[2019-10-15 01:16] ericmandel commented on #65
Hmmm again ... I've never tried this before, but below is some html that grabs successfully JS9 files from a remote site. Is this what you are trying to do? If so, a few things to notice:

1. Yes, it is possible to set installDir to a URL and have it load files remotely. I can even loadthe JS9 logo image (see above).

2. But it looks like there is indeed a CORS problem loading the wasm file remote

[2019-10-15 01:47] ericmandel commented on #65
Ah ... I never tried this before ...but a little experimenting shows that you can indeed use globalOpts.installDir to load files from a remote server. My test HTML page is below. Here are some notes:

1. JS9.globalOpts.installDir points to the remote server install directory. I was able to load everything (e.g. the js9 logo) except ...

2. there appears to be a CORS problem loading the wasm file r

[2019-10-15 13:30] ericmandel commented on #65
Of course, you can use js9prefs.js instead of setting the globalOpts directly in the web page. Here is my test prefs file (having removed the globalOpts property assignments from the web page):
[code]

[2019-10-15 16:12] timbeccue commented on #65
Thank you for the detailed investigation! I was waiting to provide a more complete response, but maybe I should have shared my progress a little sooner.

Anyways, your comment on the importance of js9.css was helpful. In case someone else finds this useful: I was importing the css in my vue component's style section using `@import url("<remote url>")`, but changing it to a <link> element in the he

[2019-10-15 16:32] ericmandel commented on #65
I'm glad we're making good progress ... if you want to serve the js9.css file from vue's component style section, you only have to set globalOpts.installDir manually ... either way should work.

I'm guessing that the worker was not initialized, since the upload call silently returns unless everything is set up. To debug: once js9 is loaded, you can look at the JS9.worker property and see if its nu

[2019-10-15 17:28] timbeccue commented on #65
Ahh, of course. It's sinking in now; thanks for reiterating.

Hmm, ok. Let me contrast the two places I'm testing js9: my vue app ("the vue page"), the frontend site that is hosted separately from js9, and the js9 index.html ("the js9 page"), served from the same server that has the js9 node helper. To reiterate, the js9 page so far can do everything found on https://js9.si.edu, ie, it works.

On

[2019-10-15 18:34] ericmandel commented on #65
Thanks for the clear and patient explanation, it can be pretty hard to understand a setup I've never seen ...

I think I have your setup reproduced and I see the same problems ...

It doesn't look like the worker is acting on the postMessage sent to it by js9 ... I don't know whether that is just a bug in my code or a limitation of this configuration re: workers (e.g. a CORS problem).  The fact th

[2019-10-15 20:27] ericmandel commented on #65
This is starting to look like a CORS problem. In my test setup, which loads JS9 files from js9.si.edu, I can't create a worker in Safari or Chrome by supplying the js9worker.js remote URL (this error is being swallowed by JS9's init routine):

Chrome:

<img width="764" alt="chrome" src="https://user-images.githubusercontent.com/3028875/66866571-93b08580-ef67-11e9-9292-cbd2bed2e583.png">

Safari:
<

[2019-10-15 21:58] timbeccue commented on #65
I can confirm that this seems to be the problem for me too. The browser inspector shows that the js9worker script loaded on my js9 page where everything works, and did not load on my vue page (note: it is absent from the browser network inspector as if there was no request made for the script at all. Is that what you meant by the JS9 init hiding the error?). I'll take a closer look into CORS setti

[2019-10-15 22:09] ericmandel commented on #65
Yes, I wrap the worker startup in a try/catch and just hide the error. We have a lot of unsophisticated users and I didn't want them to get an obscure error right off the bat.

But I think we can fix your problem by retrieving the worker in a special way if the url is not local to the web page. Assuming you can edit js9.js and install a modified version, try replacing this routine
around line 1118

[2019-10-16 18:13] ericmandel commented on #65
@timbeccue I got this working ... and updated into GitHub ...

The code above was not quite correct, it has to be:
[code]
With that code and CORS turned on in the main JS9 web site, I can now use the main site's files within a local web page, upload FITS etc. The wasm file now works as well, so there is no need to turn off wasm. Here is my test web page, which should work for you out of the box. N

[2019-10-16 18:18] timbeccue commented on #65
Awesome, thank you!

I was actually mid response with not-so-promising results, but I'm glad you beat me to the punch.

Initial results with your latest post look great, and I'll fiddle around a bit more to make sure that it all works as expected.

[2019-10-16 19:22] timbeccue commented on #65
I am getting an error in chrome (not firefox) as soon as I load the page:
[code]
The result is that I'm unable to open files, instead receiving the alert `JS9 ERROR: can't bunzip2 to virtual file: <filename>`, which I assume is due to exceeding some chrome memory safeguards.

This has only appeared since pulling your recent changes, so perhaps it's related? Let me know if you prefer we open this i

[2019-10-16 19:25] ericmandel commented on #65
Try turning off wasm again:
[code]

[2019-10-16 19:53] ericmandel commented on #65
P.S. Have you been keeping your code updated, so that you were testing with all but the most recent changes?

P.P.S. We don't need a new issue, as this is almost certainly related. If turning off wasm works, I'll have to think about how to isolate this enough to be able to make a report to the Emscripten/wasm developers.

[2019-10-16 20:36] timbeccue commented on #65
Well of course, clearing the cache did the trick. :roll_eyes: No need to touch wasm.

Many thanks again for the prompt and thorough assistance with everything!

[2019-10-18 15:42] timbeccue commented on #65
I found another issue that I think is related. In short: the js9worker script can load more than once, and when it does, the js9 instance won't open fits images, alerting `JS9 ERROR: can't bunzip2 to virtual file` and/or `JS9 ERROR: virtual FITS file is missing for getFITSImage()`.

I'll admit up front that, since I'm working on a single page app (SPA), I'm probably not loading js9 the way it was

[2019-10-18 16:04] ericmandel commented on #65
JS9.init() is called when the document is "ready" (in the jquery sense), so I'm guessing that its somehow being triggered by your partial page reload. I also expect the trouble is that the Emscripten module is being initialized more than once. This is where CFITSIO lives and I have no idea what happens when its gets reinitialized.

You should be able to skip the Js9.init() call if you add data-js9

[2019-10-18 16:20] timbeccue commented on #65
Well the feature works, but I'm not sure it helps. The problem is that whenever the component with js9 loads, it needs to run the JS9.init() sequence to work.

Do you know if there's a way I could hard-reload the emscripten module whenever I close the js9 component, so it works as if the page did a complete reload?

[2019-10-18 17:02] ericmandel commented on #65
Sorry I don't understand why JS9.init() needs to be run again. Is the JS9 global var somehow deleted? Or not valid? And if so, why does the global JS9 var go away, but not the Emscripten ones (Module and my derivative Astroem). Can you please investigate and let me know if any of the following objects still exist and are non-null, i.e. with lots of good stuff in them: JS9, Module, Astroem. And, if

[2019-10-18 18:33] timbeccue commented on #65
Sorry, I should have been clearer: I believe JS9.init() needs to be run again because running JS9.load after the component has been removed and added again gives the error `JS9 ERROR: can't find JS9 display with id: <the ID I use> `.

After the first JS9.init, the objects JS9, Module, and Astroem are present even when the JS9 component is removed or is recreated. However, the JS9.worker is undefin

[2019-10-18 18:56] ericmandel commented on #65
Are you re-using display id when bringing up a new component? I'm not a DOM expert, but I wonder if that could cause some confusion between the new and deleted divs.  Because the JS9 display id is just the id of the div, and those are supposed to be unique, right? So not sure about reuse ... a quick look on the net doesn't make it look promising but again, I'm not an expert.

But if it is possible

[2019-10-18 20:34] ericmandel commented on #65
Just FYI, I called JS9.LoadWindow() using the same id repeatedly and it works as expected:
[code]
... including the fact that the worker does not go away ...

[2019-10-18 21:48] timbeccue commented on #65
Thanks, you've given me plenty of ideas to play with. Hopefully it's something I can figure out without needing to modify the source code. I'll work more on it and report back if anything interesting pops up.

[2019-10-18 22:17] ericmandel commented on #65
Final suggestion: is it possible that JS9 is telling the truth and that the div is not ready when you call JS9.Load()? Wrapping it in a setTimeout() will tell you in a jiffy. If that turns out to be the case, you can use a mutation observer to wait for the DOM. JS9 uses the jquery-based arrive. So when I am awaiting a light window:
[code]

[2019-10-23 17:04] timbeccue commented on #65
I ended up finding a working solution by leaving JS9 constantly running, and dynamically hiding and showing it as needed. If performance becomes an issue, I think I could find a way to duplicate the functionality in js9create.html. Thanks for the help!

[2019-10-23 17:04] #65 closed

[2019-10-23 17:06] ericmandel commented on #65
That sounds like a good plan, too. Let me know if you run into other problems ...

[2019-10-23 17:21] timbeccue opened #66 "Issues with regions (fabric.js?)"
Hi Eric,

I've recently been getting an error whenever trying to add a region to an image. The browser console shows:
[code]
I'm guessing the line `JS9.Image.JS9.Fabric.addShapes` might be indicative of the problem? Is this something you've seen before?

In case it helps, I've been having other issues recently that seem to stem from the libraries included in js9support. For example, I would get `$

[2019-10-23 17:24] timbeccue commented on #66
I should add this this issue is only present in the instance I create in my Vue app. The index.html and other html demos work just fine. But maybe you have a clue as to what part of my configuration might be causing these problems.

[2019-10-23 17:27] #66 closed

[2019-10-23 17:29] ericmandel commented on #66
Oh right, that would do it ... I add the rescaleBorder() to Fabric, so if you load a clean copy, its likely to be erased ...

[2019-10-23 17:30] ericmandel commented on #66
Probably need to be careful about reloading stuff in general?? Context menu is defined in js9support.js.

[2019-10-23 19:34] timbeccue opened #67 "funcnts2flot: command not found"
Hi Eric,

I'm getting this error (`funcnts2flot: command not found`) when trying to run the server-side radial profile task. If I ssh into the server and run `funcnts2flot` directly, I get the same error.

In the logs from the `make` command, I do see
[code]
and there are no errors following.

I also found the lines
[code]

Funtools was installed via `sudo apt install funtools -y`, do you think th

[2019-10-23 19:42] ericmandel commented on #67
Just normal path problems: the JS9 *nix bash scripts, including funcnts2flot, get installed in the directory pointed to by the --prefix= switch on JS9 configure (as usual), so you can check your JS9 Makefile to see where they ended up. The JS9 helper has to have that directory in its path when it starts up.

[2019-10-23 19:53] ericmandel commented on #67
Hmmm ... to be clear: funcnts and the JS9 bash scripts need to be in the machine where the helper is running ...

[2019-10-23 20:55] timbeccue commented on #67
Adding the --prefix directory to PATH before starting the node helper did the trick. Thanks!

[2019-10-23 20:55] #67 closed

[2019-10-28 18:21] timbeccue opened #68 "Crosshair change event"
Is it possible to run a function every time the crosshair position changes? I'm trying to implement something like the horizontal/vertical graph in DS9 which show x/y profiles at the crosshair position.

[2019-10-28 18:55] ericmandel commented on #68
At the moment, you can simply add a plugin callback looking for mousemove and, in that callback, check to see whether the crosshair is enabled and the shift key is down, something like:
[code]

If you are uncomfortable looking into the image object,  I can easily add a more official oncrosshairdisplay option as input to a plugin ...  I just have to get to a stable place to update it ...

[2019-10-28 18:58] timbeccue commented on #68
This is perfect, thanks!

[2019-10-28 18:58] #68 closed

[2019-11-01 18:58] timbeccue opened #69 "Conflicting CSS"
Hi Eric,

My specific issue is that the js9 .control class style conflicts with another css library that I use. Changing js9.css to
[code]
fixes the problem for me. But I had trouble finding the js9 components that use the .control class. Will this cause any issues?

In general, it looks like a lot of the class names are unique enough that maybe these conflicts are best addressed on an as-needed b

[2019-11-01 19:21] ericmandel commented on #69
tl;dnr: I suspect you can just change .control as you need to ...

Wow, I have no idea where .control is being used and I strongly suspect it is not being used anywhere ... given that it does not have a js9 prefix, it could be an early addition to the .css file, or an override to an early 3rd-party library. I do have a few simple directives pertaining to column placement that don't have hs9 prefix

[2019-11-01 19:30] ericmandel commented on #69
I found it and yes, its in an early plugin (the archive plugin) that was developed by someone else. I'll fix that plugin so there is no conflict ... I see that the css directives are all very simply named, inviting conflict.

[2019-11-06 18:09] wkerzendorf commented on #30
Just wanted to give a 👍 to making this a jupyter notebook widget.

[2019-11-06 18:25] mgckind commented on #30
We have done some work in this space @wkerzendorf maybe is useful https://github.com/mgckind/jjs9

[2019-11-06 20:26] ericmandel commented on #30
Most of the thanks in this arena should go to @mgckind and @o-smirnov (and their respective collaborators) for work on their two Jupyter-based analysis systems.

In my ignorance, I believe we still are missing a simple and general-purpose way of importing JS9 into a notebook, beyond use of the %html directive. I'm ready to help on the JS9 end, if someone wants to take that on ...

[2019-11-14 18:21] timbeccue opened #70 "Loading files from the server with the node helper"
Hi Eric,

I'm wondering if you have any advice... I'm having a problem with loading images from the server when using the node helper.

Without the node helper, the default index.html will load casa.fits.gz with no problem.

With the helper enabled, the image does not load and I get the following alert:

[code]
The node helper logs report: `exec: /var/www/js9/analysis-wrappers/js9Xeq [imsection,-p

[2019-11-14 18:50] ericmandel commented on #70
Hi Tim,

That error means that the cfitio library is either not on the server or else is not in a standard location. Assuming the latter, note that programs look for shared libraries in /usr/lib, /usr/local/lib and maybe some others standard locations, and if you installed cfitsio elsewhere, it won't  be found at runtime.

On Linux, the easy solution is to set the environment variable LD_LIBRARY_P

[2019-11-14 19:18] ericmandel commented on #70
huh, I can't find any discussion of -R on the link line, so forget it, just use LD_LIBRARY_PATH ... which, in case it wasn't obvious, needs to be in the environment before the helper is started up ...

[2019-11-14 19:52] timbeccue commented on #70
The LD_LIBRARY_PATH fix doesn't seem to work (I included my steps below). However, I noticed that the problem goes away when I set globalOpts.fits2fits=false in the js9prefs files, and likewise reappears when set to true. Maybe this helps to pinpoint the issue?

[code]
Each of these steps appeared to work as expected, but I get the same error alert when I load index.html.

[2019-11-14 20:09] ericmandel commented on #70
Check the actual location of the libcfitsio.so library. You have to use something like this:
[code]
since the .so won't be in /cfitsio but in a subdirectory like lib or lib64.

Are you using fits2fits for a reason? It's meant for really large files that you don't want to download entirely into the browser. But unless you have that situation, you can leave it turned off, in which case the browser w

[2019-11-14 22:20] timbeccue commented on #70
This fixes the problem loading files from the default ./fits directory. Now (without fits2fits), the index.html page loads as expected and server analysis works. Thanks!

When I load with fits2fits enabled, I get this alert:
`JS9 ERROR: could not find /var/www/js9/tmp/917e2ae7-22a5-4f30-aa11-fcfb05cebb80/snr_4096_4096_1.fits.gz`

I checked the directory and the file is actually there (and is a val

[2019-11-14 22:40] timbeccue commented on #70
I wonder if it has anything to do with how I specify the temporary directory. I had been using an absolute path, but I switched to `./tmp` and from a brief look, fits2fits appears to be working. Proxy loading also opens the image in the js9 instance... except I need to upload it again before server tasks are available. I'll keep looking...

[2019-11-14 22:40] ericmandel commented on #70
Please remind me: is the web page server a different machine from the JS9 helper machine? Because that would cause this problem: the retrieved image is stored on the JS9 helper machine and then the FITS retrieval is requested from the web page server ... where as (somehow) it should be requested from a different machine??

[2019-11-14 22:41] timbeccue commented on #70
The helper is run on the same machine as the server.

[2019-11-14 22:45] ericmandel commented on #70
OK, that's good!

Hmmm ... absolute paths ... I guess you probably can't do that because the web server will not allow you to access a file outside its directory domain -- you can't load any URL resolving to a path that is outside a server domain, right? So probably you have to make a link inside the web directory to store files outside the directory (and have the follow symlinks capability turned

[2019-11-14 22:48] ericmandel commented on #70
I see there is confusion here because when you upload a local file, there is no server-based retrieval to fail when the path is outside the web server directory domain. Hmmm ... I probably need to document this mich more carefully and clearly than is the case ... no doubt I got confused myself!

[2019-11-14 23:03] ericmandel commented on #70
(The complication is absolute paths do work with the file:// URI, i.e., with desktop JS9. So I have to look at all of that carefully and try to explain it.)

[2019-11-15 00:26] ericmandel commented on #70
As it turns out, the serverside.html documentation does say to use relative paths for the tmp directory. I added some more explanation:

<img width="1139" alt="Screen Shot 2019-11-14 at 7 24 29 PM" src="https://user-images.githubusercontent.com/3028875/68907112-97752a80-0714-11ea-9b38-7b26eb0e28bd.png">

I'll be in limited email contact until late Sunday.

[2019-11-21 00:12] timbeccue commented on #69
Thanks for the fix!

[2019-11-21 00:12] #69 closed

[2019-11-21 00:31] timbeccue opened #71 "Javascript API"
Hi Eric,

I'm wondering if there is a general method (or source I could reference) for executing tasks listed in the menu with javascript. It looks like a lot of them are available and documented in the JS9 public API page and elsewhere, but not all.

For example, I recently discovered the '(menu) View -> Keyboard Actions' plugin, with a clickable button accompanying each keyboard action. I was tr

[2019-11-21 01:05] ericmandel commented on #71
The keyboard actions support is implemented in two levels:

JS9.globalOpts.keyboardActions is an array of keyboard actions mapped to specific keys. Consider the 0 key, which resets the zoom, as shown in the Keyboard Action plugin:

<img width="432" alt="Screen Shot 2019-11-20 at 7 41 13 PM" src="https://user-images.githubusercontent.com/3028875/69290374-c0426780-0bcd-11ea-9b52-9366c9243fe5.png">

[2019-11-21 01:28] timbeccue commented on #71
Ah, very helpful! Both the specific instruction, and the reminder about the plugin docs in the help menu. This makes things quite a bit easier. Thanks!

[2019-11-21 01:28] #71 closed

[2020-03-27 02:29] fockez opened #72 "Load multi extension tile compressed fits report error."
The fits file is write by astropy, all the image extensions are CompImageHDU, so the first HDU is an empty HDU. When I load this kind of fits, it is reported that

Could you help me to find the solution. Thanks.

[2020-03-27 02:47] ericmandel commented on #72
Can you attach or send a FITS file? I'll be happy to look at it.

[2020-03-27 04:39] fockez commented on #72
[20200326_7906_906176_0008.zip](https://github.com/ericmandel/js9/files/4391509/20200326_7906_906176_0008.zip)
Here is the fits file. I can open it with ds9 or astropy correctly.

[2020-03-27 13:22] ericmandel commented on #72
@fockez Using that test file, the cfitsio library gets an error in fits_convert_hdr2str(), both in js9 and in non-js9 programs. There is special code in fits_convert_hdr2str() to deal with compressed images, so my first guess was that there is a header parameter that is tripping up cfitsio, especially since I routinely load rice-compressed images in other test files.

And indeed, after messing aro

[2020-03-27 14:11] ericmandel commented on #72
Hello everyone,

A js9 issue regarding rice-compressed images was opened here:

https://github.com/ericmandel/js9/issues/72#issuecomment-604811197

which was traced to an error coming from the fits_convert_hdr2str() routine:

FITSIO status = 252: 1st key not SIMPLE or XTENSION
Extension doesn't start with SIMPLE or XTENSION keyword. (ffrhdu)
BSCALE  =                    1
Error while closing HDU n

[2020-03-29 11:33] fockez commented on #72
Thanks for your work on that. I think for now, if move header keyword position would help, that's simple enough, right?

[2020-03-29 12:06] ericmandel commented on #72
Yes, if you have control over the order in which the keywords are written, I'd move the BSCALE and BZERO params to some place after the Z params. I did that and was able to load the FITS file.

[2020-04-02 01:53] ericmandel commented on #72
@fockez Were you able to move the BSCALE and BZERO parameters  and then use JS9 to display the file? The cfitsio team would especially like to know ... if you have worked around the problem in that way, they can put it into a less urgent queue for fixing.

[2020-04-02 09:12] fockez commented on #72
Yes, if I adjust all the extensions' header order, it can be read by js9. Thanks. @ericmandel

[2020-04-02 11:11] ericmandel commented on #72
I'll close this, then, but will update it if cfitsio gets fixed.

[2020-04-02 11:11] #72 closed

[2020-07-04 07:29] hombit opened #73 "JS9.Load("file", {ra: 0, dec: 0}) doesn't pan"
I tried this example from [the public API page](https://js9.si.edu/js9/help/publicapi.html#load) with different `ra` and `dec` values:
[code]
(Note a brackets typo here)

It loads the image but doesn't pan it. I tried it on my own installation of release 3.0 and on https://js9.si.edu via console. I use Safari 13.1 and Firefox 68.0

[2020-07-04 11:08] ericmandel commented on #73
Thanks for the typo! The panning support was added after the release of 3.0, so you can get it if you clone the current repository. Alternatively, you can use the onload  callback to accomplish the same thing:
[code]

[2020-07-04 11:25] ericmandel commented on #73
P.S. The main web site does pan when I do this:
[code]
However, if you already have casa.fits loaded,and call JS9.Load() again, it will not reload the file but just redisplay it, and I think in this case it does not pan. Is that what you are seeing?

[2020-07-04 13:30] hombit commented on #73
Thank you!

Yes, I think so

[2020-07-04 13:30] #73 closed

[2020-08-17 01:55] srggrs opened #74 "Missing reference in CSS file "tabcontent.css""
Hello,

JS9 version = git+https://github.com/ericmandel/js9.git#v3.0

we integrated JS9 in our Python Django web app. We installed the package using `npm` (https://www.npmjs.com/package/js9) and then set up a script that will build and compile JS9 according the online instructions (https://js9.si.edu/js9/help/install.html - section: "Do You Want to Install JS9 in a Web Server?"), using a command l

[2020-08-17 11:45] ericmandel commented on #74
@srggrs Thanks! This error,(which does not show up in either the FF or Chrome debugger) has been fixed in my working directory and will be updated this week.

I assume you can simply edit js9support.css and change the paths as a work-around ... but let me know if that presents a problem.

cc: @miguelcarcamov

[2020-08-18 07:42] srggrs commented on #74
@ericmandel no worries. It's not a big deal! Just trying to understand how I can "productionise" JS9 assets: my understanding is that compiling JS9 as suggested in the documentation is meant for setting up the assets in the "build" folder. Then ideally you have a script that would move specific files (e.g. `js9.css`) in a "static_prod" folder to serve the production server. In doing so I'd would e

[2020-08-18 13:54] ericmandel commented on #74
Yes, JS9 stuff gets installed in two places:

1. binaries and scripts get installed somewhere in the *nix system so that they are accessible to the js9Helper (i.e., accessible to whichever user runs the helper). Without --prefix, your binaries went into the default /usr/local

2. web stuff gets installed in a directory located in a web server's directory structure, to service the JS9-enabled web p

[2020-08-18 13:54] #74 closed

[2020-10-06 08:45] Mulan-94 opened #75 "Unable to Load FITS files with NaN values"
Hi Eric,

I am unable to load an image masked with NaN values to  JS9

This happens for both my local, and the online JS9. However, replacing the NaNs with zeroes allows the image to be loaded. Would you know what is going on?
Thanks.

[2020-10-06 11:53] ericmandel commented on #75
@Mulan-94 Hi Lexy, I'll need some more info, because  below is a test image containing NaN values that loads correctly. If you have an image containing NaN values that crashes, could I please get a copy? Or, if you are using JS9.MaskImage(), can I get a copy of both the mask and the image being masked?

<img width="554" alt="Screen Shot 2020-10-06 at 7 45 40 AM" src="https://user-images.githubuser

[2020-10-06 13:29] ericmandel commented on #75
@Mulan-94 Also, once we have a file that reproduces the problem, we'll need to know how the NaN values are made. I see that the Posix nan() call takes an argument and I just passed a NULL. Of course, there are other ways to make a NaN. Without any data whatsoever, I see two possibilities:

1. if the segv is happening in the CFITIO library, we can run the ftools fverify on the file, test against a

[2020-10-06 15:59] Mulan-94 commented on #75
@ericmandel  sorry just seeing this, I'm emailing you the image now

[2020-10-06 16:40] ericmandel commented on #75
@Mulan-94

When I open CYG-FPOL-FLO.FITS using JS9 (Desktop version), I get the following error:

<img width="1129" alt="Screen Shot 2020-10-06 at 12 11 39 PM" src="https://user-images.githubusercontent.com/3028875/95229166-3e9bfe00-07ce-11eb-889b-4e1ce0737e7f.png">

And looking at the file, I see the header is _really_ long: 2822400 bytes or 35280 80-byte header entries, almost all of it HISTORY

[2020-10-06 17:21] Mulan-94 commented on #75
I'm not sure actually, let's wait for @o-smirnov on this one

[2020-10-06 17:25] ericmandel commented on #75
@Mulan-94 @o-smirnov I've sent email to Jessica Mink (instead of walking over to her office, sigh), asking for advice on increasing the max header parameter. The relevant code looks benign, so I hope we will be able to do this. I'd probably try 5Mb or 10Mb to start ...

[2020-10-06 19:15] ericmandel commented on #75
@Mulan-94 @o-smirnov

OK, there are two problems here: at first I thought that wcsinit() had to be passed a larger value for hlength (max length to check for a header param in case END is not found, default 256000). But now I believe that the current hlength is  fine in your case: all of the relevant header parameters are way before the 256000 byte limit. That is, even with this too-small limit, a

[2020-10-06 19:22] o-smirnov commented on #75
Thanks for looking into this @ericmandel! That header is pretty excessive but, sadly, not exceptional for radio images produced by AIPS. It likes to be very verbose about its data processing history. So while we can easily work around it in each individual case, this is something that will continue to trip the unwary user...

[2020-10-06 19:30] ericmandel commented on #75
@o-smirnov @Mulan-94 That's fine, I have practically no experience with radio data and was hoping it was a mistake!

I just have to copy the header string to the Emscripten heap (and pass a pointer) instead of passing the string directly on the stack ... once I get that technique working, it should work forever ...

[2020-10-06 19:52] ericmandel commented on #75
Still a way to go, but the heap-passing technique is starting to look promising ...

<img width="526" alt="Screen Shot 2020-10-06 at 3 51 03 PM" src="https://user-images.githubusercontent.com/3028875/95253067-deb45000-07eb-11eb-8e2d-a4ccac52e924.png">

[2020-10-06 23:26] ericmandel commented on #75
@Mulan-94 @o-smirnov OK, we're all set and updated in GitHub. Thanks, Lexy, for pointing this one out, it was a very interesting bug!

[2020-10-07 08:09] Mulan-94 commented on #75
Great! and thanks @ericmandel for taking your time to look into it so quickly.

[2020-10-07 11:05] #75 closed

[2020-10-24 16:38] o-smirnov commented on #39
Hmmm, deja vu strikes back in 3.1:

[code]
I'll flee back to 3.0 for now...

[2020-10-24 16:50] ericmandel commented on #39
@o-smirnov Weird ... there are no relevant changes in configure.ac from 3.0 to 3.1, but I did upgrade autoconf from 2.59 to 2.69, so the configure scripts are very different. Can you post a more detailed log?

[2020-10-24 16:56] o-smirnov commented on #39
Sure, console log: [console.log.txt](https://github.com/ericmandel/js9/files/5433326/console.log.txt)

config.log: [config.log.txt](https://github.com/ericmandel/js9/files/5433327/config.log.txt)

[2020-10-24 20:40] ericmandel commented on #39
Oh Lord have mercy ... looks like config.guess has changed its description of Ubuntu. Can you please do a test by editing the 3.1 configure script and making this change and trying again:
[code]
I clearly need a better way to figure out if cfitsio is in a system location, but at least I can add this patch for now ... if it works.

[2020-10-25 08:11] o-smirnov commented on #39
Yep, that works. Thanks!

Are you going to push a new point release with it in place?

[2020-10-25 11:03] ericmandel commented on #39
We're close ... I believe I have fixed this properly, so that you can just do this:
[code]
instead of
[code]
and have configure use -lcfitsio from the system location (i.e. without -L). Would you please rename the attached configure.txt to configure, make the change above in your build script, and test? It works on my 2006 Core2Duo machine running Ubuntu.

I can then push this change to the reposi

[2020-10-26 10:24] o-smirnov commented on #39
Sorry, close but no cigar. Finds it with ``with-cfitsio=/usr``, doesn't find without. I attach config.log.
[config.log.txt](https://github.com/ericmandel/js9/files/5438188/config.log.txt)

[2020-10-26 10:57] ericmandel commented on #39
You have to add:
[code]
to tell configure to build the back-end using a cfitsio library located in a system directory. Otherwise it doesn't even try ...

omg, my 1st generation father said this all the time! Is it the translation of a Russian idiomatic expression??

[2020-10-26 14:45] o-smirnov commented on #39
Ah but of course, sorry! Yes, with just ``--with-cfitsio`` it all works.

Hmmm, not that I know of... in fact smoking cigars isn't even a particularly Russian thing (my profile picture, and the long Soviet friendship with Cuba notwithstanding...)

[2020-10-26 16:41] ericmandel commented on #39
@o-smirnov I've pushed the new configure.ac/configure. but I assume you want a release point instead of using the working repository ... I expect v3.2 in a week or two (ok, famous last words!) ... I'm working on the last anticipated change,  but also waiting for bug reports. Perhaps you might want to run radio-padre through its paces using the working repository in the meantime?

In any case, than

[2020-10-26 16:52] o-smirnov commented on #39
[Clearly, I need to be going to more carnivals.](https://en.wiktionary.org/wiki/close,_but_no_cigar#:~:text=Etymology,failed%20to%20win%20a%20prize)

[2020-10-26 17:14] ericmandel commented on #39
I'm looking forward to going ... anywhere! But if we can't, no problem ... we can use that phrase in practically all software discussion from now on ...

[2020-10-26 17:46] o-smirnov commented on #39
"All" seems a little generous of you. If my own software is anything to go by, this phrase should be applicable 9.9% of the time at most (with "not even in the ballpark" accounting for another 90%). But we live for that 0.1% of course!

[2020-11-06 20:42] ericmandel commented on #39
@o-smirnov v3.2 is now released and I will look forward to making a patch 3.2.1 for you in the very near future ...

(but at least my at-home Linux setup now installs cfitsio in a system location, so hopefully that bug will not happen again.)

[2021-04-15 15:57] LeoBaro opened #77 "JS9 ERROR: cannot load: ../astroemw.wasm ... please check the url/pathname"
I've been following [the installation docs](https://js9.si.edu/js9/help/install.html), paragraph "Run JS9 using the file:// URI".
The docs assert:

    file:///Users/me/js9-[version]/js9basics.html
to see the basic JS9 demo page.

When I open js9basics.html with Firefox (on Ubuntu19.10) the following error message appears:

What I am missing? Thank you

[2021-04-15 16:04] ericmandel commented on #77
@LeoBaro I haven't seen this error in Firefox, but its possible that Firefox is now also throwing CORS errors when using the file:// URI. You can check this by looking at the Javascript console output. The inability to load astroemw.wasm does indicate a CORS problem. And if you you can just bypass this whole issue by starting up a python web server in the js9 directory:
[code]
and then loading web

[2021-04-20 00:50] jllamas opened #78 "Multi Extension FITs mosaic display"
Hello,

We are trying to display a mosaic of from a fits file. We can see the the data when we use 'View > Extensions' but when we try to use 'File > Mosaic > Images in the current File' or 'Images in the Display' we get an error. I've attached some screen grabs.

<img width="1367" alt="Screen Shot 2021-04-19 at 5 45 02 PM" src="https://user-images.githubusercontent.com/38157/115320721-45b9a680-a1

[2021-04-20 01:11] ericmandel commented on #78
Hi @jllamas I can look at this in more detail in the next day or so, but since you have caltech in your box.com address, I'll mention that I'm using the JPL Mosaic code to create the mosaic, and the first routine that gets called, mImgtbl, is not finding any extensions in this file to its liking. What I have to do is run the program suite outside JS9 and see if I can create a mosaic that way ... a

[2021-04-20 20:49] ericmandel commented on #78
Running mImgtbl on your FITS file outside of js9 shows that the program does not like the PANE_X value for CTYPE1 in any of the extensions:
[code]
Can I assume you're able to generate a mosaic in DS9? If so, can you please tell me how you do it? It's been a long time since I've done that in DS9 ...

[2021-04-20 22:41] bjfultn commented on #78
We can open the image as a mosaic in ds9 with the `-mosaicimage` flag.

e.g. `ds9 -mosaicimage wcs -geometry 1000x1200 -zscale -single -zoom to fit -match FRAME IMAGE j3350446.fits`

[2021-04-20 22:43] bjfultn commented on #78
`ds9 -mosaicimage iraf` also appears to work in exactly the same way as far as I can tell.

[2021-04-20 23:00] ericmandel commented on #78
OK, I can look at what Bill is doing in DS9, I imagine he wrote code to manually matches things up in various ways ... I was trying to leverage code from the mosaic experts ... let me have a look, if it's relatively straightforward, I can add it to JS9 (but not immediately).

[2021-06-28 22:43] bjfultn commented on #78
I heard rumors about Montage integration with JS9 from some co-workers at IPAC. This isn't exactly what we need, but I'm wondering if this has helped our cause on this issue? Is there a new version we should try out?

[2021-06-28 23:31] jllamas opened #79 "Fits Image Display Area + Rotation"
Hello,

We are using JS9 to display some FITs images, but we want to view them rotated. When I rotate the image the display area doesn't change.

Here are a couple of screen shots, where the image is loaded normally, its very tall. When you zoom out it shows the image using the full height.

<img width="1394" alt="Screen Shot 2021-06-28 at 4 18 01 PM" src="https://user-images.githubusercontent.com

[2021-06-28 23:43] ericmandel commented on #78
@bjfultn Your issue often is literally the only email in my inbox. It doesn't look like Montage can deal with your header and, although I poked around DS9, the C++ code was hard to follow. What I need is a C program that will create the mosaic based on your header. Does anything like that exist, other than DS9?

[2021-06-28 23:53] ericmandel commented on #79
@jllamas Are you using the Montage RotateDats() reprojection call or the cheaper SetRotate() call? And can I get a copy of the FITS file, so that I don't have to dummy up the data? I suspect I didn't work hard enough at changing the dimensions of the image ...

[2021-06-29 20:06] jllamas commented on #79
Hey Eric,

You can use the same FITs from my other ticket https://caltech.box.com/s/8t1hbyvsztu1w5l9nvig25kmer74qrjt

We are using `JS9.SetRotate()` ala:
[code]

[2021-06-29 20:31] ericmandel commented on #79
@jllamas Ah, thanks, I should have remembered that I have one of your FITS files already. I'll look at this tomorrow.

[2021-06-29 23:18] bjfultn commented on #78
I don't know of any C code that can do that. Perhaps something buried in IRAF?

I could quickly write something in Python to do it.

[2021-06-29 23:41] ericmandel commented on #78
Oh Lord, please don't make me go back to SPP code ...

Actually, a Python routine that could be executed on the command line might be a really interesting idea: assuming you have configured the js9 server-side helper, you can  add an analysis task to the Analysis menu for generate the mosaic. It give you  complete control over the mosaic generation, and save me from trying to write bespoke code at

[2021-06-30 18:00] ericmandel commented on #79
@jllamas This problem is fixed and updated in Github. I tightly limit the pixels for which RGB colors are calculated (for speed) and this limit needed to be  extended in cases where non-square images were rotated and displayed in non-square displays, as in your case. I also fixed a typo that caused the panner to go awry in this case.

Because rotation first sets up a transformation maxtrix that ge

[2021-07-26 22:16] bjfultn commented on #78
BJ to write script to stitch the images together into a single-extension fits file.

[2021-08-02 22:45] jllamas commented on #79
Hello Eric,

We've deployed the new code (I ended up downloading 3.6 from the website as opposed to github) and it works great!

Loads like this:
<img width="1406" alt="Screen Shot 2021-08-02 at 3 40 22 PM" src="https://user-images.githubusercontent.com/38157/127932605-326f6890-c223-4e02-99ae-928b009df2f5.png">

Clicking zoom (-) shows more! Great!
<img width="1406" alt="Screen Shot 2021-08-02 at

[2021-08-02 23:24] ericmandel commented on #79
@jllamas Hi Jacob, it looks right to me, in the sense that going to zoom 1/16 causes the pixels to be resampled by another factor of two, and therefore the image size  is reduced by 2 in both width and height. You can see this easily with the Panner plugin ... btw, have you tried zoom to fit? Does that give you the full display you want?

That said, I do wonder what you are expecting ... there may

[2021-08-03 07:23] jllamas commented on #79
@ericmandel yeah in the last image above I clicked the 'zoom to fit', and compared to where I was in the middle picture it zoomed out further.

I opened a local fits file, and clicked 'zoom to fit' and it did as expected, filling the view port to the first maximum boundry. The dynamically loaded and rotated image 'zoom to fit', as guess, seems to be using the width before the rotation where its ta

[2021-08-03 20:13] ericmandel commented on #79
@jllamas Ah, right, zoomToFit was not taking the rotation into account at all. I have this working on my development machine, but I  want to have a look at the panner plugin before I update, there is something not quite right there as well ...

[2021-08-04 18:53] ericmandel commented on #79
@jllamas OK, I believe I have fixed this issue and also fixed some related problems with the panner plugin. It's all updated in GitHub, so "git pull" will get the latest, assuming you cloned.

[2021-08-12 22:48] jllamas commented on #79
I've updated JS9 in our app, and everything works as expected. Thank you!

[2021-08-12 22:48] #79 closed

[2021-08-22 09:27] #70 closed

[2021-08-22 09:27] #62 closed

[2021-08-22 09:27] #61 closed

[2021-08-22 09:27] #60 closed

[2021-08-22 09:27] #56 closed

[2021-08-22 09:27] #55 closed

[2021-08-22 09:27] #51 closed

[2022-01-27 16:55] albireox opened #80 "JS9 potentially crashing on ARM64 architecture"
I'm integrating JS9 in an Electron app that display guider images in real time from a telescope

https://github.com/albireox/boson/

The relevant piece of code that implements JS9 is

https://github.com/albireox/boson/blob/main/src/renderer/views/guider/js9.tsx

When running on x64 (Intel Mac) everything looks fine but when we run it on an ARM Mac (M1) we are seeing frequent crashes that we think

[2022-01-27 17:59] ericmandel commented on #80
@albireox I don't have access to an M1 machine and I haven't seen at the office in two years ...

But I'm confused, because aside from external analysis tasks (mainly run via the Analysis menu), JS9 is all Javascript or WebAssembly, so its unclear why Rosetta should ever come into play here.  In addition, it looks like you are running everything  in a web page, so I don't see where Electron comes

[2022-01-27 18:54] AstroAndyN opened #81 "JS9.ChangeRegions() to change position incorrect after zooming image"
Hi.
I'm developing a wrapper using the JS9 Public API for school children (simplified interface, easy to translate etc).

I've just discovered that calling `JS9.ChangeRegions(region, {x: xval, y: yval});` immediately after any `JS9.SetZoom(...)` causes the position of the region to change dramatically, not to (xval,yval) (usually off the image). It does not do this if the region is moved "by hand"

[2022-01-27 19:32] albireox commented on #80
Thanks for the quick reply. As I say, I'm not 100% sure JS9 is causing these crashes, but in the M1 computers we are seeing some freezes of the renderer window that uses JS9. Sometimes those freezes lead to a crash after a bit and sometimes they resolve themselves. We are also not seeing these crashes when the window is not active and loading images.

You are correct that Electron itself is not do

[2022-01-27 20:28] ericmandel commented on #80
The error seems to indicate that boson has run out memory:
[code]
and moreover, its in V8 (i.e. the Chrome Javascript engine), which makes me assume that boson is the Electron program, right? If so, it's true that Chrome has a 2Gb per tab memory limit. Assuming that is happening, all bets are off regarding what sort of error you would see right afterwards.

Are you loading multiple large images? B

[2022-01-27 21:01] albireox commented on #80
That's a really good point and maybe it's what's going on here.

I'm loading multiple images but they are relatively small (we're currently loading 5 images of ~300 Kb each). The images are thumbnails of the original 2048x2048 images binned by 4, so they are 512x512. However, we load five new images every 20-30 seconds during the night. If there's some issue with the garbage collection it may be t

[2022-01-27 21:02] ericmandel commented on #81
I'm having some trouble reproducing this, which doesn't mean there isn't a bug. Simple tests all seems to work, as does zooming in/out using the < and > keys and then calling ChangeRegions:

<img width="383" alt="Screen Shot 2022-01-27 at 3 52 04 PM" src="https://user-images.githubusercontent.com/3028875/151442021-66496d66-c1df-4e54-9263-b285f142782c.png">

So I'm missing something ... can I get a

[2022-01-27 21:10] ericmandel commented on #80
5 images every 20-30 seconds is a lot of GC, but also, its possible that I have a leak somewhere ... especially if its a small leak that is under my radar but gets bad when you load 600 - 900 images an hour for several hours.

Profiling should show something ... but, thinking ahead to a work-around, would be it inconvenient for you to reload the page periodically and start the memory afresh?

[2022-01-27 21:21] ericmandel commented on #81
Wait, wait, I made it happen once .... let me continue, I should have enough to go one ...

[2022-01-27 21:37] ericmandel commented on #81
My experiments indicate that this happens only when the region being moved is selected. There is some special code in ChangeRegions() that deals with selected regions. It was valid for Fabric.js 3.x, but perhaps is no longer valid for Fabric.js 4.x (as does happen). I'll look into this. Nice bug, thanks!

[2022-01-27 22:06] albireox commented on #80
It's certainly a possibility. Most of the values that populate the page are recovered from a remote server so the majority of the data would be recovered after a refresh. Some user-defined inputs would revert to the defaults, but that may not be terribly inconvenient.

[2022-01-28 02:20] ericmandel commented on #81
OK,  this should be fixed. New code is updated in GitHub. There actually was a common problem in Set{Pan,Zoom,Flip}: after doing these operations, it's unclear how to update the selection completely,  so your inspired suggestion to fully regenerate the selection was what I eventually used (though in another part of the JS9 code). If it works for you too, feel free to close this issue.

[2022-01-28 09:07] AstroAndyN commented on #81
Yes, that's fixed it - thanks very much!

[2022-01-28 09:07] #81 closed

[2022-03-22 21:05] ericmandel opened #82 "Incorporating JS9 (and pyjs9) into a JupyterLab -> Kubernetes/Docker system"
A long thread documenting our successful struggle to get pyjs9 in a JupyterLab notebook to talk to a JS9 helper inside in a Docker container managed by Kubernetes can be found here: ericmandel/pyjs9/issues/12

[2022-04-30 09:27] #77 closed

[2022-05-08 10:43] ajstewart opened #84 "Release with bundled minimist bump?"
Hi!

I noticed you bumped the bundled minimist version to 1.2.6 a couple of months ago but it has not made it's way to a release yet.

I wondered if this is planned for the near future as I'm looking to close off the minimist vulnerability: https://github.com/advisories/GHSA-xvch-5gv4-984h in our project dependencies however js9 is the blocking factor.

Thanks!

Edit: Looks like a similar issue wi

[2022-05-12 21:00] ajstewart commented on #84
No problem! Good to know a release is coming, I'll make sure to look out for it!

[2022-05-19 19:58] hombit opened #85 "Q: is there a query parameters to load image from CORS server?"
There is a `?url=<URL>` query parameter which allows to load a FITS file, but if I use a url to the server responses with `access-control-allow-origin: *‘ I see an alert "ERROR: could not retrieve: <URL>". Is there any way to load a file from a CORS server adding query parameters to `https://js9.si.edu/` (or any other JS9 web installation)?

[2022-05-19 20:40] ericmandel commented on #85
As a baseline, I just did this successfully (not to a CORS server):
[code]
The above caused LoadProxy() to download the FITS file and then display it.

Are you saying that the JS9 website doesn't do this same thing correctly when accessing a FITS file from a CORS server, or are you saying that you want to use your own JS9-enabled server  without supporting LoadProxy?

In either case, if you send m

[2022-05-19 20:48] hombit commented on #85
Thanks!

I think this is what I'm trying to say: I'm using some proxy which is not JS9-enabled server and which returns `access-control-allow-origin: *`. So `JS9.Load` works for this URL, but `JS9.LoadProxy` doesn't. So it really looks like my issue is happening because `?url=<URL>` leads to call of `JS9.LoadProxy` instead of `JS9.Load`.

The URL i'm checking it with:
[code]

[2022-05-19 21:28] ericmandel commented on #85
Hmmm ... I cannot retrieve that URL using a vanilla program like wget on the main JS9 web site:

[code]

But I can easily load it onto my local machine, where I don't have the same level of checks running as on our production site:

<img width="1148" alt="Screen Shot 2022-05-19 at 5 15 59 PM" src="https://user-images.githubusercontent.com/3028875/169406101-e1c2e1de-c361-457b-8814-9d00285d02f1.png"

[2022-05-19 21:37] hombit commented on #85
I'm the guy who maintains this server, and I believe certificate is fine: on my machine both `wget` and `curl` can download this file, `openssl` says everything is ok, all my browsers open this file. Could you try to update your CA database?
[code]
<img width="587" alt="image" src="https://user-images.githubusercontent.com/1784493/169408606-3b5adf11-9e42-4e9c-a442-cb66c66b2861.png">

[2022-05-19 21:43] hombit commented on #85
When I go to https://js9.si.edu and type in the console `JS9.Load` it loads the file
<img width="1472" alt="image" src="https://user-images.githubusercontent.com/1784493/169409448-20c9bf90-80bd-4e30-ba5b-4954411376d7.png">

But `JS9.LoadProxy` doesn't
<img width="1472" alt="image" src="https://user-images.githubusercontent.com/1784493/169409512-67cb8260-7c6e-462d-b913-ce5ef4ab7631.png">

[2022-05-19 21:52] ericmandel commented on #85
Right, LoadProxy is using wget, while Load is just a straight XHR fetch. I'll ping our sysadmin about the wget problem and see if they can do something.

I assume you specifically want the file to load with the page itself, and not simply use File -> open remote ... menu option with the CORS server option set:

<img width="987" alt="Screen Shot 2022-05-19 at 5 49 16 PM" src="https://user-images.gi

[2022-05-19 22:15] hombit commented on #85
Year, I'd like to redirect users to https://js9.si.edu/js9/js9.html with some `url,pan,zoom` query parameters. I hope it is not a harmful usage of your site

[2022-05-19 22:16] hombit commented on #85
BTW, I thought that FITS files will not be downloaded by your backend and users will just load some JS and CSS...

[2022-05-19 22:20] hombit commented on #85
What do you think about this behavior: check first if `JS9.Load` works (I believe it will not download the body if something wrong with CORS headers) and use `JS9.LoadProxy` if it doesn't?

[2022-05-19 23:05] ericmandel commented on #85
That's a fine use for the js9 website ... I believe there are entire classes using the site in that way. js9.si.edu is a decent machine and we don't expect to grow beyond its capabilities ...

LoadProxy() is special and it does download the FITS file onto the server ... that's the only way I can think of loading FITS from a non-CORS site (jsonp is too hacky, uggh) and proxy loading does have the b